---
// import { Image } from 'astro:assets';
// import headerScreenshotImg from '/images/Group-1000000891.png';
// import ellipseImg1 from '/images/Ellipse-5-2.png';
// import ellipseImg2 from '/images/Ellipse-5-3.png';
// import ellipseImg3 from '/images/Ellipse-5-4.png';
// import frameImg from '/images/Frame-1000000863.png';
---

<section class='section-excellence'>
  <div class='padding-global padding-section-medium cc-excellence'>
    <div class='w-layout-blockcontainer container cc-excellence w-container'>
      <div class='excellence-wrapper cc-gap'>
        <div class='excellence-head-block cc-max'>
          <h1
            data-aos-offset='40'
            data-aos='fade-up'
            data-aos-duration='1200'
            class='excellence-head'
          >
            IOP PHP Facilities - Behavioral <br />‍<span class='text-span-11'>Health Services</span>
          </h1>
          <div
            data-aos-delay='200'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='excellence-subhead'
          >
            Elevate your IOP/PHP services with our specialized behavioral health
            platform
          </div>
          <p
            data-aos-delay='400'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='excellence-para cc-margin'
          >
            Deliver exceptional care with tools designed for intensive
            outpatient and partial hospitalization programs.
          </p>
          <a
            data-aos-delay='600'
            data-aos='fade-up'
            data-aos-offset='40'
            data-aos-duration='1200'
            href='https://calendly.com/d/yk9-xfc-stg/navix-demo'
            target='_blank'
            rel='noopener'
            class='demo-btn w-inline-block'
          >
            <div class='play-embed w-embed'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='13'
                height='13'
                viewBox='0 0 13 13'
                fill='none'
              >
                <g clip-path='url(#clip0_612_1685)'>
                  <path
                    d='M10.6398 6.50031L4.09436 2.00031V11.0003L10.6398 6.50031Z'
                    fill='#374651'></path>
                </g>
                <defs>
                  <clippath id='clip0_612_1685'>
                    <rect
                      width='11.5385'
                      height='11.5385'
                      fill='white'
                      transform='translate(0.730713 0.730774)'></rect>
                  </clippath>
                </defs>
              </svg>
            </div>
            <div class='demo-text'>Schedule a Demo</div>
          </a>
        </div>
      </div>
    </div>
    <div class='excellence-img-block cc-width'>
      <img
        src='/images/Group-1000000891.png'
        alt='A image of Navix Health software showcasing their advance features.'
        class='excellence-img'
      />
    </div>
  </div>
</section>

<section class='section-product-features'>
  <div class='padding-global padding-section-medium cc-product'>
    <div class='w-layout-blockcontainer container w-container'>
      <div class='product-feature-wrapper'>
        <h2
          data-aos-offset='40'
          data-aos='fade-up'
          data-aos-duration='1200'
          class='product-heading cc-left'
        >
          Navix
        </h2>
        <div
          data-aos-offset='40'
          data-aos='fade-up'
          data-aos-duration='1200'
          class='excellence-head cc-height cc-size'
        >
          Product Features
        </div>
        <div
          data-aos-delay='200'
          data-aos='fade-up'
          data-aos-duration='1200'
          data-aos-offset='40'
          class='component-text'
        >
          All components built as one
        </div>
        <div class='html-embed-37 w-embed'>
          <style>
            @media only screen and (min-width: 991px) {
              .component-text {
                font-size: clamp(1.5rem, 2.7vw, 2.5rem);
              }
            }
          </style>
        </div>
        <div class='card-wrapper'>
          <div
            data-aos-delay='400'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            id='w-node-e1063111-34bb-7829-a4e5-a2606dc1d72b-aafbf25c'
            class='card-block'
          >
            <h2 class='product-feature-head'>
              Customer Relationship Management (CRM)
            </h2>
            <div class='divider cc-color'></div>
            <div class='price-list-wrapper'>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Client Onboarding</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Client Discharge</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Email Campaigns</div>
                </div>
              </div>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Lead Management</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Client Assessments</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Referral Management</div>
                </div>
              </div>
            </div>
            <img
              src='/images/Ellipse-5-2.png'
              alt='two professionals shaked hands.'
              class='bg-img'
            />
          </div>
          <div
            data-aos-delay='600'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='card-block cc-mt'
          >
            <h2 class='product-feature-head'>
              Electronic medical records (EMR)
            </h2>
            <div class='divider cc-color'></div>
            <div class='price-list-wrapper'>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Scheduling</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Medication Management</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Forms Management</div>
                </div>
              </div>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>
                    Clinical Quality Management
                  </div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Lab Management</div>
                </div>
              </div>
            </div>
            <img
              src='/images/Ellipse-5-3.png'
              alt='A female professional use as a background.'
              class='bg-img'
            />
          </div>
          <div
            data-aos-delay='800'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='card-block cc-2'
          >
            <h2 class='product-feature-head'>
              Revenue cycle management (RCM) coming q4 of 2023
            </h2>
            <div class='divider cc-color'></div>
            <div class='price-list-wrapper'>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Eligibility</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Integrated Charge Capture</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Utilization Reviews</div>
                </div>
              </div>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Utilization Reviews</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1493)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='white'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='#374651'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1493'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Payments Management</div>
                </div>
              </div>
            </div>
            <img
              src='/images/Ellipse-5-4.png'
              alt='green shadow used as decoration'
              class='bg-img'
            />
          </div>
          <div
            data-aos-delay='900'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='card-block cc-mt cc-bg'
          >
            <h2 class='product-feature-head cc-font-size'>Navix hub toolbox</h2>
            <div class='divider cc-color'></div>
            <div class='price-list-wrapper'>
              <div class='pricing-list-wrap'>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1611)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='#C2996C'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='white'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1611'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Analytics</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1611)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='#C2996C'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='white'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1611'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Forms Management</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1611)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='#C2996C'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='white'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1611'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Communications</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1611)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='#C2996C'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='white'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1611'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Resource Libraries</div>
                </div>
                <div class='pricing-list-block'>
                  <div class='correct-sign w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='34'
                      height='34'
                      viewBox='0 0 34 34'
                      fill='none'
                    >
                      <g clip-path='url(#clip0_986_1611)'>
                        <path
                          d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                          fill='#C2996C'></path>
                        <path
                          d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                          stroke='white'
                          stroke-width='1.5'
                          stroke-linecap='round'
                          stroke-linejoin='round'></path>
                      </g>
                      <defs>
                        <clippath id='clip0_986_1611'>
                          <rect width='34' height='34' fill='white'></rect>
                        </clippath>
                      </defs>
                    </svg>
                  </div>
                  <div class='pricing-lisr-text'>Client Portal</div>
                </div>
              </div>
            </div>
            <img src='/images/Frame-1000000863.png' alt='a navy color backround' class='bg-img' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
