---
// import { Image } from 'astro:assets';
// import interventionistHeaderImg from '/images/navix-interventionist.png';
// import interventionistContentImg from '/images/dylan-gillis-KdeqA3aTnBY-unsplash.png';
---

<main class='main-wrapper'>
  <section class='section-prof-hero'>
    <div class='padding-global padding-section-medium cc-prof'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='prof-hero-wrapper'>
          <div class='prof-head-block'>
            <h1
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='prof-head'
            >
              <span class='text-span-3'>Interventionist Software Solutions for Healthcare Professionals</span>
            </h1>
            <h2
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='heading-style-h2 cc-prof'
            >
              Maximize impact with advanced tools for interventionists in
              behavioral health
            </h2>
          </div>
          <div class='abt-para-block'>
            <p
              data-aos-delay='600'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-size-small'
            >
              Navix Professional for interventionists includes a CRM (customer
              relationship management) to maintain referral relationships with
              other practitioners and facilities, helping you grow your
              business. The EMR is an affordable way to organize and document
              your work with families giving you data insights and an efficient
              process. Navix RCM, a billing software, is coming in 2025 to
              streamline your entire business and client workflow.
            </p>
          </div>
        </div>
        <div
          data-aos-delay='800'
          data-aos='fade-up'
          data-aos-duration='1200'
          data-aos-offset='40'
          class='prof-img-block'
        >
          <img
            src='/images/navix-interventionist.png'
            width={1280}
            alt='Image of two profeesionals discussing'
            class='software-img'
            style='height: auto;'
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class='section-ai-scribe'
    id='navix-scribe'
    style='margin-bottom: 50px;'
  >
    <div class='padding-global padding-section-medium cc-ai-scribe'>
      <div class='w-layout-blockcontainer container cc-ai-scribe w-container'>
        <div class='health-wrapper'>
          <div class='health-block cc-width'>
            <div
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='experience-text'
            >
              <span class='text-span-3'> Navix Hub™</span> for
            </div>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='text-medium cc-mb'
              style='margin-bottom: 1.5rem;'
            >
              Professionals
            </h2>
            <p
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-size-small'
            >
              Navix Hub™ revolutionizes administrative management tools for
              interventionists by integrating essential tools like EMR, CRM, and
              AI into a single, user-friendly platform. It emphasizes ease of
              use and efficiency, allowing interventionists to grow their
              business and document their work in one software.
            </p>
            <div
              data-aos-delay='300'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='divider cc-margin'
            >
            </div>
            <div
              data-aos-delay='400'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='list-wrap'
            >
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>
                  A combined CRM and EMR enables you to track referral
                  relationships and document the work you do with families.
                </div>
              </div>
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>
                  Offers advanced features like AI note-taking and telehealth,
                  set to launch in upcoming quarters.
                </div>
              </div>
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>
                  Provides a mobile app and client portal for enhanced
                  accessibility and client engagement.
                </div>
              </div>
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>
                  Navix RCM, the billing platform, arrives in 2025, completing
                  the eco-system for your business.
                </div>
              </div>
            </div>
          </div>
          <div>
            <img
              src='/images/dylan-gillis-KdeqA3aTnBY-unsplash.png'
              style={{
                height: '30rem',
                width: 'auto',
                objectFit: 'cover',
                objectPosition: 'center',
                padding: '10px',
              }}
              alt='For Professionals Image'
              data-aos='fade-up'
              data-aos-delay='300'
              data-aos-offset='40'
              data-aos-duration='1200'
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='section-pricing'>
    <div class='padding-global padding-section-medium cc-pricing'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='pricing-wrapper'>
          <div class='pricing-head-wrap'>
            <div
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='experience-text cc-color'
            >
              Simple and
            </div>
            <h2
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-medium cc-shadow'
            >
              T<span class='text-span-8'>ransparent pricing</span>
            </h2>
          </div>
          <div class='pricing-wrap'>
            <div
              data-aos-delay='400'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='navix-block'
            >
              <h2 class='pricing-text'>
                Do more with <span class='text-span-9'>Navix</span>
              </h2>
              <p class='pricing-para'>
                Enjoy a seamless software experience without any surprises or
                extra costs.
              </p>
              <a
                href='https://buy.stripe.com/4gwdTN4OYaco4b65kp'
                target='_blank'
                rel='noopener'
                class='pricing-btn w-button'>Get started</a
              >
              <div class='phone-img-block'>
                <img
                  src='/images/iPhone-14.png'
                  loading='lazy'
                  alt="Iphone showcasing Navix's logo."
                  class='navix-img'
                /><img
                  src='/images/Ellipse-31.png'
                  loading='lazy'
                  sizes='100vw'
                  srcset='images/Ellipse-31-p-500.png 500w, /images/Ellipse-31.png 737w'
                  alt='white shadow'
                  class='ellipse-shadow'
                />
              </div>
            </div>
            <div
              data-aos-delay='600'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='pricing-block'
            >
              <h2 class='pricing-text'>
                Introductory <span class='text-span-9'>Pricing</span>
              </h2>
              <p class='pricing-para cc-max'>
                Limited time offer, introductory rate for new users is locked in
                for as long as you use Navix software. Get started with a
                risk-free 14-day trial.
              </p>
              <div class='block-line'></div>
              <div class='include-text'>WHAT’S INCLUDED?</div>
              <div class='price-list-wrapper'>
                <div class='pricing-list-wrap'>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>Unlimited clients</div>
                  </div>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>CRM</div>
                  </div>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>EMR</div>
                  </div>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>Email marketing tool</div>
                  </div>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>Client portal</div>
                  </div>
                </div>
                <div class='pricing-list-wrap'>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>Unlimited templates</div>
                  </div>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>Customer support</div>
                  </div>
                  <div class='pricing-list-block'>
                    <div class='html-embed-11 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='12'
                        height='12'
                        viewBox='0 0 12 12'
                        fill='none'
                      >
                        <circle
                          cx='6'
                          cy='6'
                          r='6'
                          fill='url(#paint0_linear_615_6065)'></circle>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_6065'
                            x1='-0.173913'
                            y1='12'
                            x2='12'
                            y2='12'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#A28292'></stop>
                            <stop offset='1' stop-color='#C2996C'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                    <div class='pricing-lisr-text'>
                      Customizable notes and assessments
                    </div>
                  </div>
                </div>
              </div>
              <div class='price-wrap'>
                <div class='price-block cc-vertical'>
                  <div class='price-value'>
                    <span class='text-span-10'>$45.99</span> /Month
                  </div>
                  <div class='price-text'>Per professional</div>
                </div>
                <a
                  href='https://buy.stripe.com/4gwdTN4OYaco4b65kp'
                  target='_blank'
                  rel='noopener'
                  class='enroll-btn w-button'>Enroll Now - 14 days</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='x-wrapper'>
      <div class='html-embed-12 w-embed'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='670'
          height='723'
          viewBox='0 0 670 723'
          fill='none'
        >
          <path
            d='M1001.2 0H1069.29L600.213 511.197L1102.07 1067.72H970.932L532.122 584.225L88.2665 1067.72H22.6972L499.337 548.97L0 0H141.227L564.906 473.424L1001.2 0Z'
            fill='#9DB7B0'></path>
        </svg>
      </div>
      <div class='html-embed-13 w-embed'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='202'
          height='25'
          viewBox='0 0 202 25'
          fill='none'
        >
          <path d='M0 24.5L41.5 0H180.5L201.5 24.5H0Z' fill='#70837E'></path>
        </svg>
      </div>
    </div>
    <div class='color-wrap'></div>
  </section>
  <section class='section-testi'>
    <div class='padding-global padding-section-medium cc-testi'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='testi-wrapper'>
          <div class='testi-head-wrap'>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='text-medium cc-font-size'
            >
              Testimonials
            </h2>
            <div
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='customer-text'
            >
              Our valued customers.
            </div>
            <div
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='html-embed-14 w-embed'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='107'
                height='97'
                viewBox='0 0 107 97'
                fill='none'
              >
                <path
                  opacity='0.1'
                  d='M107 0.929754L104.242 20.444C98.6042 19.9437 94.1306 20.9444 90.8213 23.4462C87.512 25.823 85.2446 29.263 84.0189 33.7663C82.9158 38.1445 82.732 43.1481 83.4674 48.7772H107V97H61.5894V46.9009C61.5894 30.5139 65.3889 18.1298 72.988 9.74871C80.5871 1.24248 91.9244 -1.69717 107 0.929754ZM45.4106 0.929754L42.6529 20.444C37.0149 19.9437 32.5412 20.9444 29.232 23.4462C25.9227 25.823 23.6552 29.263 22.4296 33.7663C21.3265 38.1445 21.1426 43.1481 21.878 48.7772H45.4106V97H0V46.9009C0 30.5139 3.79954 18.1298 11.3986 9.74871C18.9977 1.24248 30.335 -1.69717 45.4106 0.929754Z'
                  fill='#A28292'></path>
              </svg>
            </div>
          </div>
          <div class='review-wrapper'>
            <div
              data-aos-delay='400'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='review-block'
            >
              <div class='html-embed-15 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='31'
                  height='28'
                  viewBox='0 0 31 28'
                  fill='none'
                >
                  <path
                    d='M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z'
                    fill='#374651'></path>
                </svg>
              </div>
              <div class='person-name'>Jane Reed, LMFT</div>
              <p class='review-para'>
                Navix Health has been a game-changer for my therapy practice.
                The all-in-one solution has simplified my workload, allowing me
                to focus on providing exceptional care to my clients. The client
                portal is beneficial, offering features like paperless intake
                forms, a scheduling calendar, and telehealth capabilities.
              </p><img
                src='/images/Ellipse-16.png'
                loading='lazy'
                alt='Iamge of customer Jane Reed.'
                class='review-img'
              />
            </div>
            <div
              data-aos-delay='500'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='review-block cc-1'
            >
              <div class='html-embed-15 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='31'
                  height='28'
                  viewBox='0 0 31 28'
                  fill='none'
                >
                  <path
                    d='M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z'
                    fill='#374651'></path>
                </svg>
              </div>
              <div class='person-name'>Katie Burns, LPC</div>
              <p class='review-para'>
                Navix health has completely transformed the way I manage my
                therapy practice. The software&#x27;s CRM solution has made
                staying connected with clients and colleagues much more
                manageable, while the mobile app enables me to manage my
                practice on the go. I&#x27;m excited to see the billing software
                launching soon, further simplifying the billing process.
              </p><img
                src='/images/Ellipse-17.png'
                loading='lazy'
                alt='Image of a customer Katie Burns.'
                class='review-img'
              />
            </div>
            <div
              data-aos-delay='600'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='review-block'
            >
              <div class='html-embed-15 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='31'
                  height='28'
                  viewBox='0 0 31 28'
                  fill='none'
                >
                  <path
                    d='M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z'
                    fill='#374651'></path>
                </svg>
              </div>
              <div class='person-name'>Taylor Sawyer, LMFT</div>
              <p class='review-para'>
                As a therapist, I value providing exceptional care to my
                clients. Navix Health has enabled me to do just that by
                streamlining my workload and simplifying my documentation
                process. The system&#x27;s customizable templates and AI
                note-taking capabilities have saved me countless hours, allowing
                me to focus on what matters most - my clients.
              </p><img
                src='/images/Ellipse-18.png'
                loading='lazy'
                alt='Image of a customer Taylor Sawyer.'
                class='review-img'
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-challenge'>
    <div class='padding-global padding-section-medium'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='challenge-wrapper'>
          <div class='challenge-block'>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='experience-text cc-white'
            >
              Strength<br /><span class='text-large-2'>Through challenges</span>
            </h2>
            <a
              data-aos-delay='400'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              href='https://buy.stripe.com/4gwdTN4OYaco4b65kp'
              target='_blank'
              rel='noopener'
              class='get-btn-2 w-button'>Get started</a
            >
          </div>
          <div class='challenge-para-block'>
            <p
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='challenge-para'
            >
              We offer a comprehensive onboarding process, complete with various
              tutorials to help guide you through the setup process. Our
              software is designed with simplicity, making it easy to implement
              and use immediately. If you prefer a more personal touch, our
              support team is available 8:00am-5:00pm PST to answer any
              questions you may have
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
