<main class='main-wrapper'>
  <section class='section-abt-hero'>
    <div class='padding-global padding-section-medium cc-abt'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='abt-hero-wrapper'>
          <div class='abt-head-block'>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='experience-text'
            >
              About us
            </h2>
            <h1
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='abt-head'
            >
              We are Innovating Behavioral Health
            </h1>
          </div>
          <div class='abt-para-block'>
            <p
              data-aos-delay='400'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-size-small'
            >
              Navix Health&#x27;s integrated platform, powered by NavixAI,
              transforms how you manage your behavioral health practice. Spend
              less time on administrative tasks and more time creating positive
              patient experiences.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='abt-img-wrapper'>
      <img
        data-aos='fade-up'
        class='health-img-1'
        src='images/dylan-gillis-KdeqA3aTnBY-unsplash.jpg'
        alt='A group of professionals meeting.'
        sizes='(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 92vw, 100vw'
        data-aos-delay='600'
        loading='lazy'
        data-aos-offset='40'
        srcset='images/dylan-gillis-KdeqA3aTnBY-unsplash-p-500.jpg 500w, images/dylan-gillis-KdeqA3aTnBY-unsplash-p-800.jpg 800w, images/dylan-gillis-KdeqA3aTnBY-unsplash-p-1080.jpg 1080w, images/dylan-gillis-KdeqA3aTnBY-unsplash-p-1600.jpg 1600w, images/dylan-gillis-KdeqA3aTnBY-unsplash-p-2000.jpg 2000w, images/dylan-gillis-KdeqA3aTnBY-unsplash-p-2600.jpg 2600w, images/dylan-gillis-KdeqA3aTnBY-unsplash-p-3200.jpg 3200w, images/dylan-gillis-KdeqA3aTnBY-unsplash.jpg 5472w'
        data-aos-duration='1200'
      /><img
        data-aos='fade-up'
        class='health-img-2'
        src='images/emma-dau-n_4iTY1KmDE-unsplash.jpg'
        alt='Two professionals having fun working.'
        sizes='(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 92vw, 100vw'
        data-aos-delay='800'
        loading='lazy'
        data-aos-offset='40'
        srcset='images/emma-dau-n_4iTY1KmDE-unsplash-p-500.jpg 500w, images/emma-dau-n_4iTY1KmDE-unsplash-p-800.jpg 800w, images/emma-dau-n_4iTY1KmDE-unsplash-p-1080.jpg 1080w, images/emma-dau-n_4iTY1KmDE-unsplash-p-1600.jpg 1600w, images/emma-dau-n_4iTY1KmDE-unsplash-p-2000.jpg 2000w, images/emma-dau-n_4iTY1KmDE-unsplash-p-2600.jpg 2600w, images/emma-dau-n_4iTY1KmDE-unsplash-p-3200.jpg 3200w, images/emma-dau-n_4iTY1KmDE-unsplash.jpg 6720w'
        data-aos-duration='1200'
      />
    </div>
  </section>
  <section class='section-story'>
    <div class='padding-global padding-section-medium'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='story-wrapper'>
          <div class='story-head-block'>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='story-head'
            >
              Our Story
            </h2>
            <p
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='story-head-para'
            >
              After years within the behavioral healthcare sector, witnessing
              the challenges faced by professionals and facilities, we realized
              the critical need for adaptable and intuitive software.<br /><br
              />Navix Health was born out of this necessity. Our journey is
              driven by the passion to empower practitioners and improve patient
              outcomes through innovative and user-friendly technology. Join us
              in reshaping behavioral healthcare for the better.
            </p>
          </div>
          <div
            data-aos-delay='400'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='story-msg-block'
          >
            <div class='story-logo w-embed'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='200'
                height='200'
                viewBox='0 0 200 200'
                fill='none'
              >
                <path
                  d='M130.473 56.264L100.144 3.24176L69.8153 56.264L100.144 38.8727L130.473 56.264Z'
                  fill='#A18192'></path>
                <path
                  d='M69.8153 144.069L100.144 197.091L130.473 144.069L100.144 161.46L69.8153 144.069Z'
                  fill='#9CB6B0'></path>
                <path
                  d='M56.2416 69.8378L3.2193 100.167L56.2416 130.495L38.8503 100.167L56.2416 69.8378Z'
                  fill='#374651'></path>
                <path
                  d='M144.046 69.8378L161.438 100.167L144.046 130.495L197.281 100.167L144.046 69.8378Z'
                  fill='#C2986C'></path>
              </svg>
            </div>
            <p class='story-para'>
              At Navix Health, our mission is to revolutionize behavioral
              healthcare through tailored software solutions. We are committed
              to empowering treatment professionals by delivering <span
                class='text-span'
                >integrated, adaptable, and user-friendly
              </span>applications that drive efficient care management.
            </p>
          </div>
          <div class='story-block'>
            <div
              data-aos-delay='600'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='story-sub-block'
            >
              <div class='story-text'>Empowerment</div>
              <p class='text-size-small'>
                We empower you with an easy to use interface and business admin
                tools that allow the facility or private practice to change
                forms, customize drop-downs and create users.
              </p>
            </div>
            <div
              data-aos-delay='700'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='story-sub-block'
            >
              <div class='story-text cc-1'>Innovation</div>
              <p class='text-size-small'>
                We continuously innovate to meet the evolving needs of the
                behavioral health industry, offering customizable solutions that
                enhance care delivery.
              </p>
            </div>
            <div
              data-aos-delay='800'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='story-sub-block'
            >
              <div class='story-text cc-2'>Integrity</div>
              <p class='text-size-small'>
                We operate with integrity, ensuring our solutions are aligned
                with ethical standards and prioritize client well-being above
                all.
              </p>
            </div>
            <div
              data-aos-delay='900'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='story-sub-block'
            >
              <div class='story-text cc-3'>Collaboration</div>
              <p class='text-size-small'>
                We foster partnerships and collaboration among professionals to
                drive positive change within the behavioral health industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-team'>
    <div class='padding-global padding-section-medium cc-team'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='team-wrapper'>
          <div
            id='w-node-_7899526f-5ccf-db03-04f4-78ad264f54ff-59a8732a'
            class='blank-block'
          >
          </div>
          <h2
            data-aos-offset='40'
            data-aos='fade-up'
            data-aos-duration='1200'
            id='w-node-_7f36346a-7a45-0733-fbfb-22f9b2625e45-59a8732a'
            class='text-large cc-max'
          >
            Meet the <span class='text-span-2'>NAVIX</span> Team
          </h2>
          <div
            data-aos-delay='200'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='team-block'
          >
            <div class='person-img-block'>
              <img
                src='images/Headshot-Jason_84_-removebg-preview-removebg-preview.png'
                loading='lazy'
                alt='Image of CEO of Navix Health Jason Brumback.'
                class='team-img'
              />
            </div>
            <div class='person-detail-block'>
              <div class='position'>President &amp; CEO</div>
              <div class='team-name'>Jason Brumback</div>
              <p class='text-size-small'>
                8 years in Behavioral HealthFounder, Resurface Group. <br
                />Based in Southern California.
              </p>
            </div>
          </div>
          <div
            data-aos-delay='400'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='team-block'
          >
            <div class='person-img-block'>
              <img
                src='images/Headshot_-_Colin_Christie-removebg-preview.png'
                loading='lazy'
                alt='Image of CTO of Navix Health Colin Christie.'
                class='team-img'
              />
            </div>
            <div class='person-detail-block'>
              <div class='position'>Chairman &amp; CTO</div>
              <div class='team-name'>Colin Christie</div>
              <p class='text-size-small'>
                22 years in Health Tech Experienced Founder / CEO. <br />Based
                in Manila, Philippines
              </p>
            </div>
          </div>
          <div
            data-aos-delay='600'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='team-block'
          >
            <div class='person-img-block'>
              <img
                src='images/Megan_Headshot_Lessened_Shadows--2-removebg-preview.png'
                loading='lazy'
                alt='Image of VP & Chief Product Officer Megan Weaver.'
                class='team-img'
              />
            </div>
            <div class='person-detail-block'>
              <div class='position'>VP &amp; Chief Product Officer</div>
              <div class='team-name'>Megan Weaver, BA, SHRM-CP</div>
              <p class='text-size-small'>
                17 years in Behavioral Health Founder, Complete Compliance
                Consulting. Based in Austin, Texas.
              </p>
            </div>
          </div>
          <div
            data-aos-delay='1000'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='team-block'
          >
            <div class='person-img-block'>
              <img
                src='images/_D858145-removebg-preview-1.png'
                loading='lazy'
                alt='Image of Chief Marketing Officer Kristen Smith.'
                class='team-img'
              />
            </div>
            <div class='person-detail-block'>
              <div class='position'>Chief Marketing Officer</div>
              <div class='team-name'>Kristen Smith</div>
              <p class='text-size-small'>
                19 years in Behavioral Health. Experienced in marketing,
                admissions and communications.<br />Based in Southern
                California.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
