<main class='main-wrapper'>
  <section class='section-affiliate'>
    <div class='padding-global padding-section-medium cc-affiliate'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='affilate-hero-wrapper'>
          <div class='affiliate-hero-block'>
            <div class='affiliate-sub-head'>Become Navix</div>
            <h1 class='affiliate-heading'>Health Affiliate Partner</h1>
            <p class='affiliate-hero-para'>
              Join Navix Health affiliate program and earn 20% commission on
              every payment by your referrals!
            </p>
            <a href='' class='start-btn cc-align w-button'>Get started</a>
          </div>
          <div class='affiliate-img-block'>
            <div class='html-embed-33 w-embed'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='55'
                height='55'
                viewBox='0 0 55 55'
                fill='none'
              >
                <g clip-path='url(#clip0_1218_5046)'>
                  <path
                    d='M39.1885 19.8186C38.9525 20.0379 38.6435 20.1619 38.3214 20.1665C37.9992 20.1712 37.6868 20.0562 37.4445 19.8438C35.0988 17.8639 32.129 16.7762 29.0593 16.773C26.5339 16.773 24.0062 17.6049 24.0062 19.9218C24.0062 22.2661 26.715 23.0476 29.8408 24.2186C35.3087 26.0428 39.8393 28.3345 39.8393 33.6993C39.8393 39.5315 35.3087 43.542 27.9135 43.9843L27.2375 47.1101C27.1774 47.3974 27.0202 47.6552 26.7923 47.8401C26.5644 48.025 26.2797 48.1257 25.9862 48.1253H21.325L21.0912 48.1001C20.7576 48.0254 20.4668 47.8225 20.2816 47.5352C20.0964 47.2479 20.0316 46.8993 20.1012 46.5647L20.83 43.2555C18.023 42.552 15.4416 41.145 13.3293 39.1672V39.142C13.2126 39.0259 13.1199 38.8879 13.0567 38.7359C12.9935 38.5839 12.9609 38.4209 12.9609 38.2562C12.9609 38.0916 12.9935 37.9286 13.0567 37.7766C13.1199 37.6246 13.2126 37.4866 13.3293 37.3705L15.935 34.8451C16.4254 34.3868 17.1885 34.3868 17.6789 34.8451C20.0618 37.0962 23.2287 38.3294 26.5064 38.2826C29.8935 38.2826 32.1577 36.8503 32.1577 34.5838C32.1577 32.3174 29.866 31.7193 25.5439 30.1059C20.9606 28.4651 16.611 26.1459 16.611 20.7307C16.611 14.4286 21.8452 11.3555 28.0441 11.069L28.695 7.86529C28.7552 7.58063 28.913 7.32594 29.141 7.14519C29.369 6.96444 29.653 6.86899 29.9439 6.87529H34.58L34.8412 6.90279C35.002 6.93655 35.1545 7.00175 35.29 7.09464C35.4255 7.18753 35.5413 7.30628 35.6307 7.44406C35.7201 7.58185 35.7815 7.73595 35.8112 7.89751C35.8409 8.05908 35.8383 8.22492 35.8037 8.3855L35.1002 11.9536C37.4639 12.7381 39.6558 13.9671 41.5581 15.5745L41.6108 15.6249C42.1058 16.1474 42.1058 16.9288 41.6108 17.3963L39.1885 19.8186Z'
                    fill='#C2996C'></path>
                </g>
                <defs>
                  <clippath id='clip0_1218_5046'>
                    <rect width='55' height='55' fill='white'></rect>
                  </clippath>
                </defs>
              </svg>
            </div><img
              src='/images/image-2606.png'
              loading='lazy'
              sizes='(max-width: 479px) 100vw, (max-width: 651px) 78vw, (max-width: 991px) 508px, 35vw'
              srcset='/images/image-2606-p-500.png 500w, /images/image-2606.png 508w'
              alt='A male professional '
              class='affiliate-img'
            />
            <div class='html-embed-34 w-embed'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='58'
                height='58'
                viewBox='0 0 58 58'
                fill='none'
              >
                <g clip-path='url(#clip0_1218_5051)'>
                  <path
                    d='M7.25 21.7493C7.25 20.4675 7.75922 19.2381 8.66565 18.3317C9.57208 17.4252 10.8015 16.916 12.0833 16.916H45.9167C47.1985 16.916 48.4279 17.4252 49.3344 18.3317C50.2408 19.2381 50.75 20.4675 50.75 21.7493V43.4993C50.75 44.7812 50.2408 46.0106 49.3344 46.917C48.4279 47.8235 47.1985 48.3327 45.9167 48.3327H12.0833C10.8015 48.3327 9.57208 47.8235 8.66565 46.917C7.75922 46.0106 7.25 44.7812 7.25 43.4993V21.7493Z'
                    fill='white'></path>
                  <path
                    d='M19.3359 16.9167V12.0833C19.3359 10.8015 19.8452 9.57208 20.7516 8.66565C21.658 7.75922 22.8874 7.25 24.1693 7.25H33.8359C35.1178 7.25 36.3472 7.75922 37.2536 8.66565C38.16 9.57208 38.6693 10.8015 38.6693 12.0833V16.9167'
                    stroke='white'
                    stroke-width='3.625'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M29 29V29.0242'
                    stroke='#A28292'
                    stroke-width='3.625'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M7.25 31.416C13.9963 34.8155 21.4456 36.5863 29 36.5863C36.5544 36.5863 44.0037 34.8155 50.75 31.416'
                    stroke='#A28292'
                    stroke-width='3.625'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </g>
                <defs>
                  <clippath id='clip0_1218_5051'>
                    <rect width='58' height='58' fill='white'></rect>
                  </clippath>
                </defs>
              </svg>
            </div>
            <div class='html-embed-10 w-embed'>
              <style>
                .affiliate-img {
                  filter: drop-shadow(
                    26.46983px 52.93965px 26.46983px rgba(0, 0, 0, 0.05)
                  );
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-affiliate-work'>
    <div class='padding-global padding-section-medium'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='work-head-block'>
          <h2 class='affiliate-heading cc-color'>How it Works?</h2>
          <p class='text-size-regular cc-max-width'>
            Sign up to our program and start earning money by bringing users to
            Navix Health<br />via your link.
          </p>
        </div>
        <div class='affiliate-card-wrap'>
          <div class='affiliate-card'>
            <div class='affiliate-content-card'>
              <div class='work-no'>1</div>
              <h3 class='work-head'>Customize</h3>
              <p class='work-para cc-weight'>
                We give you a link that’s unique which you can use ﻿for your
                visitors.
              </p>
            </div>
            <div class='affiliate-img-wrap'>
              <img
                src='/images/Group-1000000894.png'
                loading='lazy'
                alt='A decoration.'
                class='affiliate-work-img'
              />
            </div>
          </div>
          <div class='affiliate-card cc-1'>
            <div class='affiliate-content-card'>
              <div class='work-no cc-1'>2</div>
              <h3 class='work-head'>Tracking system</h3>
              <p class='work-para cc-weight'>
                Our system tracks that it came from you.
              </p>
            </div>
            <div class='affiliate-img-wrap'>
              <img
                src='/images/Group-1000000895.png'
                loading='lazy'
                alt='A decoration'
                class='affiliate-work-img'
              />
            </div>
          </div>
          <div class='affiliate-card cc-2'>
            <div class='affiliate-content-card'>
              <div class='work-no cc-3'>3</div>
              <h3 class='work-head'>Completed registration</h3>
              <p class='work-para cc-weight'>
                Your visitor browses our website and may decide to sign up.
              </p>
            </div>
            <div class='affiliate-img-wrap'>
              <img
                src='/images/Group-1000000896-1.png'
                loading='lazy'
                alt='A decoration'
                class='affiliate-work-img'
              />
            </div>
          </div>
          <div class='affiliate-card cc-3'>
            <div class='affiliate-content-card'>
              <div class='work-no cc-2'>4</div>
              <h3 class='work-head'>20% of income is yours!</h3>
              <p class='work-para cc-weight'>
                When your visitor signs up and turn in to a paid user, you earn
                with us.
              </p>
            </div>
            <div class='affiliate-img-wrap'>
              <img
                src='/images/Group-1000000897-1.png'
                loading='lazy'
                alt='A decoration'
                class='affiliate-work-img'
              />
            </div>
          </div>
          <div class='html-embed-35 w-embed'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='754'
              height='783'
              viewBox='0 0 754 783'
              fill='none'
            >
              <path
                d='M142.444 134.791C303.685 113.973 523.502 -80 597.68 42.143C744.703 284.235 -54 539 5.0223 693.208C25.4989 1014.5 774.488 316.655 750.502 670'
                stroke='#E9E5E2'
                stroke-width='4'
                stroke-linecap='round'
                stroke-dasharray='23 23'></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-referral'>
    <div class='padding-global padding-section-medium'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='referral-wrapper'>
          <div class='referral-block'>
            <div class='referral-content'>
              Share navix health &amp;<br /><span class='text-span-21'
                >Earn
              </span><span class='text-span-22'>20%</span><span
                class='text-span-21'
              >
                commission for<br />every referral</span
              ><br />
            </div>
            <a href='#' class='start-btn cc-align w-button'>SIGN UP NOW</a>
          </div><img
            src='/images/NavixHealth-Ad-Creative-happy-female-office-worker-chatting-on-laptop-1-1.png'
            loading='lazy'
            sizes='(max-width: 479px) 100vw, (max-width: 663px) 76vw, (max-width: 991px) 504px, 31vw'
            srcset='/images/NavixHealth-Ad-Creative-happy-female-office-worker-chatting-on-laptop-1-1-p-500.png 500w, /images/NavixHealth-Ad-Creative-happy-female-office-worker-chatting-on-laptop-1-1.png 504w'
            alt='A female professional using laptop.'
            class='referral-img'
          />
        </div>
      </div>
    </div>
  </section>
</main>
