<main class='main-wrapper'>
  <section class='section-trial-hero'>
    <div class='padding-global padding-section-medium cc-contact'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='contact-wrapper'>
          <div class='trial-hero-block'>
            <h1 class='contact-head'>Contact Us</h1>
            <p class='contact-para'>
              Want to get in touch? We&#x27;d love hear from you. Here&#x27;s
              how you can reach us.
            </p>
            <div class='trial-list'>
              <div class='contact-list-item'>
                <div class='contact-embed w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='20'
                    height='20'
                    viewBox='0 0 20 20'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_615_11225)'>
                      <path
                        d='M2.5 4.375H17.5V15C17.5 15.1658 17.4342 15.3247 17.3169 15.4419C17.1997 15.5592 17.0408 15.625 16.875 15.625H3.125C2.95924 15.625 2.80027 15.5592 2.68306 15.4419C2.56585 15.3247 2.5 15.1658 2.5 15V4.375Z'
                        stroke='#9DB7B0'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                      <path
                        d='M17.5 4.375L10 11.25L2.5 4.375'
                        stroke='#9DB7B0'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_615_11225'>
                        <rect width='20' height='20' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <a href='mailto:support@navixhealth.com' class='contact-links'
                  >support@navixhealth.com</a
                >
              </div>
              <div class='contact-list-item'>
                <div class='contact-embed w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='20'
                    height='20'
                    viewBox='0 0 20 20'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_615_11232)'>
                      <path
                        d='M12.843 11.3547C12.9295 11.2971 13.0291 11.262 13.1326 11.2526C13.2362 11.2432 13.3404 11.2598 13.4359 11.3008L17.1203 12.9516C17.2445 13.0047 17.3481 13.0965 17.4157 13.2134C17.4833 13.3303 17.5112 13.466 17.4953 13.6C17.3739 14.5071 16.9273 15.3392 16.2383 15.9416C15.5494 16.544 14.6652 16.8757 13.75 16.875C10.9321 16.875 8.22957 15.7556 6.23699 13.7631C4.24442 11.7705 3.125 9.06797 3.125 6.25004C3.1243 5.33489 3.456 4.45063 4.05841 3.76171C4.66082 3.07279 5.49293 2.62611 6.4 2.50473C6.53409 2.4888 6.66973 2.51673 6.78662 2.58433C6.90351 2.65193 6.99537 2.75557 7.04844 2.87973L8.69922 6.56723C8.73978 6.66194 8.7563 6.76521 8.7473 6.86785C8.7383 6.97048 8.70407 7.0693 8.64766 7.15551L6.97813 9.14067C6.9189 9.23003 6.88388 9.33323 6.87649 9.44018C6.86909 9.54713 6.88958 9.65416 6.93594 9.75082C7.58203 11.0735 8.94922 12.4243 10.2758 13.0641C10.373 13.1103 10.4805 13.1303 10.5878 13.1222C10.695 13.1141 10.7983 13.0782 10.8875 13.018L12.843 11.3547Z'
                        stroke='#9DB7B0'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_615_11232'>
                        <rect width='20' height='20' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <a href='tel:(831)604-1827' class='contact-links'
                  >(855) 490-1982</a
                >
              </div>
              <div class='contact-list-item'>
                <div class='contact-embed w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='20'
                    height='20'
                    viewBox='0 0 20 20'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_615_11238)'>
                      <path
                        d='M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z'
                        stroke='#9DB7B0'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                      <path
                        d='M10 5.625V10H14.375'
                        stroke='#9DB7B0'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_615_11238'>
                        <rect width='20' height='20' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='time-wrap'>
                  <div class='contact-links'>Mon - Fri</div>
                  <div class='text-size-small'>9:00 AM  - 5:00 PM (PST)</div>
                </div>
              </div>
            </div>
          </div>
          <div class='html-embed-20 w-embed'>
            <style>
              @media screen and (max-width: 1220px) and (min-width: 992px) {
                .name-block {
                  flex-direction: column !important;
                }
              }
            </style>
          </div>
          <div class='form-block w-form'>
            <form
              id='email-form'
              name='email-form'
              class='form'
              action='https://formspree.io/f/mrgnqprg'
              method='POST'
            >
              <div class='name-block'>
                <input
                  class='text-field cc-contact w-input'
                  maxlength='256'
                  name='first-name'
                  placeholder='First Name'
                  type='text'
                  id='name'
                  required=''
                />
                <input
                  class='text-field cc-contact w-input'
                  maxlength='256'
                  name='company-name'
                  placeholder='Company Name'
                  type='text'
                  id='name-2'
                  required=''
                />
              </div>
              <div class='name-block'>
                <input
                  class='text-field cc-contact w-input'
                  maxlength='256'
                  name='email'
                  placeholder='Email'
                  type='email'
                  id='email-2'
                  required=''
                />
                <input
                  class='text-field cc-contact w-input'
                  maxlength='256'
                  name='phone-number'
                  placeholder='Phone Number'
                  type='text'
                  id='Number'
                  required=''
                />
              </div>
              <label for='field' class='field-label'
                >Questions or Concerns</label
              >
              <textarea
                placeholder='Enter your message here'
                maxlength='5000'
                id='field-2'
                name='message'
                class='textarea w-input'></textarea>
              <div class='submit-btn-wrap cc-contact'>
                <input
                  type='submit'
                  data-wait='Please wait...'
                  class='submit-button w-button'
                  value='Submit'
                />
              </div>
            </form>
            <div class='w-form-done'>
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class='w-form-fail'>
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-help'>
    <div class='help-wrapper'>
      <div class='help-head-wrap'>
        <h2 class='trial-head'>Need more</h2>
        <h2 class='trial-subhead'>Help?</h2>
        <p class='trial-para'>
          Spend less time on administrative tasks and more time creating
          positive patient experiences.
        </p>
        <div class='trial-btn-wrap'>
          <a href='contact' class='trail-touch-btn w-button'>Get in touch</a>
          <a href='faqs' class='start-btn cc-color w-button'>FAQs</a>
        </div>
      </div>
      <div class='help-img-wrap'>
        <img
          src='images/Frame-1000000828.png'
          loading='lazy'
          sizes='(max-width: 479px) 92vw, (max-width: 765px) 94vw, (max-width: 767px) 720px, (max-width: 991px) 90vw, 50vw'
          srcset='images/Frame-1000000828-p-500.png 500w, images/Frame-1000000828.png 720w'
          alt='A telephone used for decoration.'
          class='trial-ph-img'
        />
      </div>
    </div>
  </section>
</main>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    var form = document.getElementById('email-form');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      var formData = new FormData(form);

      fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
          Accept: 'application/json',
        },
      })
        .then((response) => {
          if (response.ok) {
            form.reset();
            document.querySelector('.w-form-done').style.display = 'block';
          } else {
            response.json().then((data) => {
              if (data.errors) {
                console.log('Validation errors:', data.errors);
              }
              document.querySelector('.w-form-fail').style.display = 'block';
            });
          }
        })
        .catch((error) => {
          console.error('Error:', error);
          document.querySelector('.w-form-fail').style.display = 'block';
        });
    });
  });
</script>
