<main class='main-wrapper'>
  <section class='section-demo'>
    <div class='padding-global padding-section-medium cc-demo'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='demo-hero-wrapper'>
          <div class='demo-hero-block'>
            <h1 class='demo-heading'>
              Revolutionize Your Behavioral Health Practice
            </h1><img
              src='images/Mac-Studio-4.png'
              loading='lazy'
              sizes='100vw'
              srcset='images/Mac-Studio-4-p-500.png 500w, images/Mac-Studio-4-p-800.png 800w, images/Mac-Studio-4-p-1080.png 1080w, images/Mac-Studio-4-p-1600.png 1600w, images/Mac-Studio-4-p-2000.png 2000w, images/Mac-Studio-4.png 2181w'
              alt='A Mac book showing Navix CRM.'
            />
            <h2 class='feature-head'>Key Features</h2>
            <div class='feature-card-wrapper'>
              <div class='feature-card-wrap'>
                <div class='feature-head-block'>
                  <div class='feature-img w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      fill='none'
                    >
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12 2.75C9.54675 2.75 7.19397 3.72455 5.45926 5.45926C3.72455 7.19397 2.75 9.54675 2.75 12C2.75 14.4533 3.72455 16.806 5.45926 18.5407C7.19397 20.2754 9.54675 21.25 12 21.25C14.4533 21.25 16.806 20.2754 18.5407 18.5407C20.2754 16.806 21.25 14.4533 21.25 12C21.25 9.54675 20.2754 7.19397 18.5407 5.45926C16.806 3.72455 14.4533 2.75 12 2.75ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25C17.937 1.25 22.75 6.063 22.75 12C22.75 17.937 17.937 22.75 12 22.75C6.063 22.75 1.25 17.937 1.25 12ZM12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V6.317C14.38 6.609 15.75 7.834 15.75 9.5C15.75 9.69891 15.671 9.88968 15.5303 10.0303C15.3897 10.171 15.1989 10.25 15 10.25C14.8011 10.25 14.6103 10.171 14.4697 10.0303C14.329 9.88968 14.25 9.69891 14.25 9.5C14.25 8.822 13.686 8.103 12.75 7.847V11.317C14.38 11.609 15.75 12.834 15.75 14.5C15.75 16.166 14.38 17.391 12.75 17.683V18C12.75 18.1989 12.671 18.3897 12.5303 18.5303C12.3897 18.671 12.1989 18.75 12 18.75C11.8011 18.75 11.6103 18.671 11.4697 18.5303C11.329 18.3897 11.25 18.1989 11.25 18V17.683C9.62 17.391 8.25 16.166 8.25 14.5C8.25 14.3011 8.32902 14.1103 8.46967 13.9697C8.61032 13.829 8.80109 13.75 9 13.75C9.19891 13.75 9.38968 13.829 9.53033 13.9697C9.67098 14.1103 9.75 14.3011 9.75 14.5C9.75 15.178 10.314 15.897 11.25 16.152V12.683C9.62 12.391 8.25 11.166 8.25 9.5C8.25 7.834 9.62 6.609 11.25 6.317V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25ZM11.25 7.847C10.314 8.103 9.75 8.822 9.75 9.5C9.75 10.178 10.314 10.897 11.25 11.152V7.847ZM12.75 12.847V16.153C13.686 15.897 14.25 15.179 14.25 14.5C14.25 13.822 13.686 13.102 12.75 12.847Z'
                        fill='#A28292'></path>
                    </svg>
                  </div>
                  <div class='fetaure-card-head'>Artificial Intelligence</div>
                </div>
                <p class='text-size-small'>
                  Improve the accuracy and efficiency of clinical documentation
                  by using AI to automate your note summaries.
                </p>
              </div>
              <div class='feature-card-wrap'>
                <div class='feature-head-block'>
                  <div class='feature-img w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      fill='none'
                    >
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12 2.75C9.54675 2.75 7.19397 3.72455 5.45926 5.45926C3.72455 7.19397 2.75 9.54675 2.75 12C2.75 14.4533 3.72455 16.806 5.45926 18.5407C7.19397 20.2754 9.54675 21.25 12 21.25C14.4533 21.25 16.806 20.2754 18.5407 18.5407C20.2754 16.806 21.25 14.4533 21.25 12C21.25 9.54675 20.2754 7.19397 18.5407 5.45926C16.806 3.72455 14.4533 2.75 12 2.75ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25C17.937 1.25 22.75 6.063 22.75 12C22.75 17.937 17.937 22.75 12 22.75C6.063 22.75 1.25 17.937 1.25 12ZM12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V6.317C14.38 6.609 15.75 7.834 15.75 9.5C15.75 9.69891 15.671 9.88968 15.5303 10.0303C15.3897 10.171 15.1989 10.25 15 10.25C14.8011 10.25 14.6103 10.171 14.4697 10.0303C14.329 9.88968 14.25 9.69891 14.25 9.5C14.25 8.822 13.686 8.103 12.75 7.847V11.317C14.38 11.609 15.75 12.834 15.75 14.5C15.75 16.166 14.38 17.391 12.75 17.683V18C12.75 18.1989 12.671 18.3897 12.5303 18.5303C12.3897 18.671 12.1989 18.75 12 18.75C11.8011 18.75 11.6103 18.671 11.4697 18.5303C11.329 18.3897 11.25 18.1989 11.25 18V17.683C9.62 17.391 8.25 16.166 8.25 14.5C8.25 14.3011 8.32902 14.1103 8.46967 13.9697C8.61032 13.829 8.80109 13.75 9 13.75C9.19891 13.75 9.38968 13.829 9.53033 13.9697C9.67098 14.1103 9.75 14.3011 9.75 14.5C9.75 15.178 10.314 15.897 11.25 16.152V12.683C9.62 12.391 8.25 11.166 8.25 9.5C8.25 7.834 9.62 6.609 11.25 6.317V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25ZM11.25 7.847C10.314 8.103 9.75 8.822 9.75 9.5C9.75 10.178 10.314 10.897 11.25 11.152V7.847ZM12.75 12.847V16.153C13.686 15.897 14.25 15.179 14.25 14.5C14.25 13.822 13.686 13.102 12.75 12.847Z'
                        fill='#A28292'></path>
                    </svg>
                  </div>
                  <div class='fetaure-card-head'>EMR</div>
                </div>
                <p class='text-size-small'>
                  Digitize your clinic documentation and organize patient
                  information in one secure and accessible place.
                </p>
              </div>
              <div class='feature-card-wrap'>
                <div class='feature-head-block'>
                  <div class='feature-img w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      fill='none'
                    >
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12 2.75C9.54675 2.75 7.19397 3.72455 5.45926 5.45926C3.72455 7.19397 2.75 9.54675 2.75 12C2.75 14.4533 3.72455 16.806 5.45926 18.5407C7.19397 20.2754 9.54675 21.25 12 21.25C14.4533 21.25 16.806 20.2754 18.5407 18.5407C20.2754 16.806 21.25 14.4533 21.25 12C21.25 9.54675 20.2754 7.19397 18.5407 5.45926C16.806 3.72455 14.4533 2.75 12 2.75ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25C17.937 1.25 22.75 6.063 22.75 12C22.75 17.937 17.937 22.75 12 22.75C6.063 22.75 1.25 17.937 1.25 12ZM12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V6.317C14.38 6.609 15.75 7.834 15.75 9.5C15.75 9.69891 15.671 9.88968 15.5303 10.0303C15.3897 10.171 15.1989 10.25 15 10.25C14.8011 10.25 14.6103 10.171 14.4697 10.0303C14.329 9.88968 14.25 9.69891 14.25 9.5C14.25 8.822 13.686 8.103 12.75 7.847V11.317C14.38 11.609 15.75 12.834 15.75 14.5C15.75 16.166 14.38 17.391 12.75 17.683V18C12.75 18.1989 12.671 18.3897 12.5303 18.5303C12.3897 18.671 12.1989 18.75 12 18.75C11.8011 18.75 11.6103 18.671 11.4697 18.5303C11.329 18.3897 11.25 18.1989 11.25 18V17.683C9.62 17.391 8.25 16.166 8.25 14.5C8.25 14.3011 8.32902 14.1103 8.46967 13.9697C8.61032 13.829 8.80109 13.75 9 13.75C9.19891 13.75 9.38968 13.829 9.53033 13.9697C9.67098 14.1103 9.75 14.3011 9.75 14.5C9.75 15.178 10.314 15.897 11.25 16.152V12.683C9.62 12.391 8.25 11.166 8.25 9.5C8.25 7.834 9.62 6.609 11.25 6.317V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25ZM11.25 7.847C10.314 8.103 9.75 8.822 9.75 9.5C9.75 10.178 10.314 10.897 11.25 11.152V7.847ZM12.75 12.847V16.153C13.686 15.897 14.25 15.179 14.25 14.5C14.25 13.822 13.686 13.102 12.75 12.847Z'
                        fill='#A28292'></path>
                    </svg>
                  </div>
                  <div class='fetaure-card-head'>CRM</div>
                </div>
                <p class='text-size-small'>
                  Effectively manage leads, referrals, campaigns, clients, and
                  outreach in one centralized location.
                </p>
              </div>
              <div class='feature-card-wrap'>
                <div class='feature-head-block'>
                  <div class='feature-img w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      fill='none'
                    >
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12 2.75C9.54675 2.75 7.19397 3.72455 5.45926 5.45926C3.72455 7.19397 2.75 9.54675 2.75 12C2.75 14.4533 3.72455 16.806 5.45926 18.5407C7.19397 20.2754 9.54675 21.25 12 21.25C14.4533 21.25 16.806 20.2754 18.5407 18.5407C20.2754 16.806 21.25 14.4533 21.25 12C21.25 9.54675 20.2754 7.19397 18.5407 5.45926C16.806 3.72455 14.4533 2.75 12 2.75ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25C17.937 1.25 22.75 6.063 22.75 12C22.75 17.937 17.937 22.75 12 22.75C6.063 22.75 1.25 17.937 1.25 12ZM12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V6.317C14.38 6.609 15.75 7.834 15.75 9.5C15.75 9.69891 15.671 9.88968 15.5303 10.0303C15.3897 10.171 15.1989 10.25 15 10.25C14.8011 10.25 14.6103 10.171 14.4697 10.0303C14.329 9.88968 14.25 9.69891 14.25 9.5C14.25 8.822 13.686 8.103 12.75 7.847V11.317C14.38 11.609 15.75 12.834 15.75 14.5C15.75 16.166 14.38 17.391 12.75 17.683V18C12.75 18.1989 12.671 18.3897 12.5303 18.5303C12.3897 18.671 12.1989 18.75 12 18.75C11.8011 18.75 11.6103 18.671 11.4697 18.5303C11.329 18.3897 11.25 18.1989 11.25 18V17.683C9.62 17.391 8.25 16.166 8.25 14.5C8.25 14.3011 8.32902 14.1103 8.46967 13.9697C8.61032 13.829 8.80109 13.75 9 13.75C9.19891 13.75 9.38968 13.829 9.53033 13.9697C9.67098 14.1103 9.75 14.3011 9.75 14.5C9.75 15.178 10.314 15.897 11.25 16.152V12.683C9.62 12.391 8.25 11.166 8.25 9.5C8.25 7.834 9.62 6.609 11.25 6.317V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25ZM11.25 7.847C10.314 8.103 9.75 8.822 9.75 9.5C9.75 10.178 10.314 10.897 11.25 11.152V7.847ZM12.75 12.847V16.153C13.686 15.897 14.25 15.179 14.25 14.5C14.25 13.822 13.686 13.102 12.75 12.847Z'
                        fill='#A28292'></path>
                    </svg>
                  </div>
                  <div class='fetaure-card-head'>Scheduling</div>
                </div>
                <p class='text-size-small'>
                  Allow patients to quickly and easily book appointments with
                  you through our scheduling calendar.
                </p>
              </div>
              <div class='feature-card-wrap'>
                <div class='feature-head-block'>
                  <div class='feature-img w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      fill='none'
                    >
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12 2.75C9.54675 2.75 7.19397 3.72455 5.45926 5.45926C3.72455 7.19397 2.75 9.54675 2.75 12C2.75 14.4533 3.72455 16.806 5.45926 18.5407C7.19397 20.2754 9.54675 21.25 12 21.25C14.4533 21.25 16.806 20.2754 18.5407 18.5407C20.2754 16.806 21.25 14.4533 21.25 12C21.25 9.54675 20.2754 7.19397 18.5407 5.45926C16.806 3.72455 14.4533 2.75 12 2.75ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25C17.937 1.25 22.75 6.063 22.75 12C22.75 17.937 17.937 22.75 12 22.75C6.063 22.75 1.25 17.937 1.25 12ZM12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V6.317C14.38 6.609 15.75 7.834 15.75 9.5C15.75 9.69891 15.671 9.88968 15.5303 10.0303C15.3897 10.171 15.1989 10.25 15 10.25C14.8011 10.25 14.6103 10.171 14.4697 10.0303C14.329 9.88968 14.25 9.69891 14.25 9.5C14.25 8.822 13.686 8.103 12.75 7.847V11.317C14.38 11.609 15.75 12.834 15.75 14.5C15.75 16.166 14.38 17.391 12.75 17.683V18C12.75 18.1989 12.671 18.3897 12.5303 18.5303C12.3897 18.671 12.1989 18.75 12 18.75C11.8011 18.75 11.6103 18.671 11.4697 18.5303C11.329 18.3897 11.25 18.1989 11.25 18V17.683C9.62 17.391 8.25 16.166 8.25 14.5C8.25 14.3011 8.32902 14.1103 8.46967 13.9697C8.61032 13.829 8.80109 13.75 9 13.75C9.19891 13.75 9.38968 13.829 9.53033 13.9697C9.67098 14.1103 9.75 14.3011 9.75 14.5C9.75 15.178 10.314 15.897 11.25 16.152V12.683C9.62 12.391 8.25 11.166 8.25 9.5C8.25 7.834 9.62 6.609 11.25 6.317V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25ZM11.25 7.847C10.314 8.103 9.75 8.822 9.75 9.5C9.75 10.178 10.314 10.897 11.25 11.152V7.847ZM12.75 12.847V16.153C13.686 15.897 14.25 15.179 14.25 14.5C14.25 13.822 13.686 13.102 12.75 12.847Z'
                        fill='#A28292'></path>
                    </svg>
                  </div>
                  <div class='fetaure-card-head'>Client Portal</div>
                </div>
                <p class='text-size-small'>
                  Improve patient relationships and communication with our
                  easy-to-use messaging system.
                </p>
              </div>
              <div class='feature-card-wrap'>
                <div class='feature-head-block'>
                  <div class='feature-img w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      fill='none'
                    >
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12 2.75C9.54675 2.75 7.19397 3.72455 5.45926 5.45926C3.72455 7.19397 2.75 9.54675 2.75 12C2.75 14.4533 3.72455 16.806 5.45926 18.5407C7.19397 20.2754 9.54675 21.25 12 21.25C14.4533 21.25 16.806 20.2754 18.5407 18.5407C20.2754 16.806 21.25 14.4533 21.25 12C21.25 9.54675 20.2754 7.19397 18.5407 5.45926C16.806 3.72455 14.4533 2.75 12 2.75ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25C17.937 1.25 22.75 6.063 22.75 12C22.75 17.937 17.937 22.75 12 22.75C6.063 22.75 1.25 17.937 1.25 12ZM12 5.25C12.1989 5.25 12.3897 5.32902 12.5303 5.46967C12.671 5.61032 12.75 5.80109 12.75 6V6.317C14.38 6.609 15.75 7.834 15.75 9.5C15.75 9.69891 15.671 9.88968 15.5303 10.0303C15.3897 10.171 15.1989 10.25 15 10.25C14.8011 10.25 14.6103 10.171 14.4697 10.0303C14.329 9.88968 14.25 9.69891 14.25 9.5C14.25 8.822 13.686 8.103 12.75 7.847V11.317C14.38 11.609 15.75 12.834 15.75 14.5C15.75 16.166 14.38 17.391 12.75 17.683V18C12.75 18.1989 12.671 18.3897 12.5303 18.5303C12.3897 18.671 12.1989 18.75 12 18.75C11.8011 18.75 11.6103 18.671 11.4697 18.5303C11.329 18.3897 11.25 18.1989 11.25 18V17.683C9.62 17.391 8.25 16.166 8.25 14.5C8.25 14.3011 8.32902 14.1103 8.46967 13.9697C8.61032 13.829 8.80109 13.75 9 13.75C9.19891 13.75 9.38968 13.829 9.53033 13.9697C9.67098 14.1103 9.75 14.3011 9.75 14.5C9.75 15.178 10.314 15.897 11.25 16.152V12.683C9.62 12.391 8.25 11.166 8.25 9.5C8.25 7.834 9.62 6.609 11.25 6.317V6C11.25 5.80109 11.329 5.61032 11.4697 5.46967C11.6103 5.32902 11.8011 5.25 12 5.25ZM11.25 7.847C10.314 8.103 9.75 8.822 9.75 9.5C9.75 10.178 10.314 10.897 11.25 11.152V7.847ZM12.75 12.847V16.153C13.686 15.897 14.25 15.179 14.25 14.5C14.25 13.822 13.686 13.102 12.75 12.847Z'
                        fill='#A28292'></path>
                    </svg>
                  </div>
                  <div class='fetaure-card-head'>Billing</div>
                </div>
                <p class='text-size-small'>
                  Simplify billing by providing online payment options,
                  auto-sending invoices, and easily processing insurance claims.
                </p>
              </div>
            </div>
          </div>
          <div class='demo-form-wrap'>
            <div class='demo-form-block'>
              <h1 class='contact-head cc-size'>
                Sign up to enter our demo room
              </h1>
              <p class='text-size-small'>
                Explore the future of behavioral health care
              </p>
            </div>
            <div class='form-block w-form'>
              <form
                id='email-form'
                name='email-form'
                data-name='Email Form'
                method='get'
                class='form'
                data-wf-page-id='65828d69834979ca159af30b'
                data-wf-element-id='350e99af-0935-ee39-ad1e-0aafa616d352'
              >
                <div class='name-block'>
                  <input
                    class='text-field cc-contact w-input'
                    maxlength='256'
                    name='name'
                    data-name='Name'
                    placeholder='Name'
                    type='text'
                    id='name'
                    required=''
                  />
                </div>
                <div class='name-block'>
                  <input
                    class='text-field cc-contact w-input'
                    maxlength='256'
                    name='email-2'
                    data-name='Email 2'
                    placeholder='Email Address'
                    type='email'
                    id='email-2'
                    required=''
                  />
                </div>
                <div class='submit-btn-wrap cc-contact'>
                  <input
                    type='submit'
                    data-wait='Please wait...'
                    class='submit-button cc-width w-button'
                    value='Sign up'
                  />
                </div>
              </form>
              <div class='w-form-done'>
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class='w-form-fail'>
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-testi'>
    <div class='padding-global padding-section-medium cc-testi'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='testi-wrapper'>
          <div class='testi-head-wrap'>
            <h2 class='text-medium'>Testimonials</h2>
            <div class='customer-text'>Our valued customers.</div>
            <div class='html-embed-14 w-embed'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='107'
                height='97'
                viewBox='0 0 107 97'
                fill='none'
              >
                <path
                  opacity='0.1'
                  d='M107 0.929754L104.242 20.444C98.6042 19.9437 94.1306 20.9444 90.8213 23.4462C87.512 25.823 85.2446 29.263 84.0189 33.7663C82.9158 38.1445 82.732 43.1481 83.4674 48.7772H107V97H61.5894V46.9009C61.5894 30.5139 65.3889 18.1298 72.988 9.74871C80.5871 1.24248 91.9244 -1.69717 107 0.929754ZM45.4106 0.929754L42.6529 20.444C37.0149 19.9437 32.5412 20.9444 29.232 23.4462C25.9227 25.823 23.6552 29.263 22.4296 33.7663C21.3265 38.1445 21.1426 43.1481 21.878 48.7772H45.4106V97H0V46.9009C0 30.5139 3.79954 18.1298 11.3986 9.74871C18.9977 1.24248 30.335 -1.69717 45.4106 0.929754Z'
                  fill='#A28292'></path>
              </svg>
            </div>
          </div>
          <div class='review-wrapper'>
            <div class='review-block'>
              <div class='html-embed-15 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='31'
                  height='28'
                  viewBox='0 0 31 28'
                  fill='none'
                >
                  <path
                    d='M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z'
                    fill='#374651'></path>
                </svg>
              </div>
              <div class='person-name'>Jane Reed, LMFT</div>
              <p class='review-para'>
                Navix Health has been a game-changer for my therapy practice.
                The all-in-one solution has simplified my workload, allowing me
                to focus on providing exceptional care to my clients. The client
                portal is beneficial, offering features like paperless intake
                forms, a scheduling calendar, and telehealth capabilities.
              </p><img
                src='images/Ellipse-16.png'
                loading='lazy'
                alt='Iamge of customer Jane Reed.'
                class='review-img'
              />
            </div>
            <div class='review-block cc-1'>
              <div class='html-embed-15 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='31'
                  height='28'
                  viewBox='0 0 31 28'
                  fill='none'
                >
                  <path
                    d='M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z'
                    fill='#374651'></path>
                </svg>
              </div>
              <div class='person-name'>Katie Burns, LPC</div>
              <p class='review-para'>
                Navix health has completely transformed the way I manage my
                therapy practice. The software&#x27;s CRM solution has made
                staying connected with clients and colleagues much more
                manageable, while the mobile app enables me to manage my
                practice on the go. I&#x27;m excited to see the billing software
                launching soon, further simplifying the billing process.
              </p><img
                src='images/Ellipse-17.png'
                loading='lazy'
                alt='Image of a customer Katie Burns.'
                class='review-img'
              />
            </div>
            <div class='review-block'>
              <div class='html-embed-15 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='31'
                  height='28'
                  viewBox='0 0 31 28'
                  fill='none'
                >
                  <path
                    d='M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z'
                    fill='#374651'></path>
                </svg>
              </div>
              <div class='person-name'>Taylor Sawyer, LMFT</div>
              <p class='review-para'>
                As a therapist, I value providing exceptional care to my
                clients. Navix Health has enabled me to do just that by
                streamlining my workload and simplifying my documentation
                process. The system&#x27;s customizable templates and AI
                note-taking capabilities have saved me countless hours, allowing
                me to focus on what matters most - my clients.
              </p><img
                src='images/Ellipse-18.png'
                loading='lazy'
                alt='Image of a customer Taylor Sawyer.'
                class='review-img'
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
