---
// import { Image } from 'astro:assets'
// import behvHealth from '/images/dylan-gillis-KdeqA3aTnBY-unsplash.png'
// import privatePracticeContentImg from '/images/s-o-c-i-a-l-c-u-t-kqL6CfFc664-unsplash.png'
---

<main class="main-wrapper">
  <section class="section-prof-hero">
    <div class="padding-global padding-section-medium cc-prof">
      <div class="w-layout-blockcontainer container w-container">
        <div class="prof-hero-wrapper">
          <div class="prof-head-block">
            <h1 class="prof-head">
              <span class="text-span-3"
                >Modern Behavioral Health EMR Software
              </span>
              That Reduces Documentation Time by 60%
            </h1>
            <h2 class="heading-style-h2 cc-prof aos-init aos-animate">
              The compliance-first electronic medical records platform built for
              addiction treatment and mental health programs
            </h2>
          </div>
          <div class="abt-para-block">
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="experience-text"
            >
              Value Proposition Bullets:
            </div>
            <div
              data-aos-delay="300"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="divider cc-margin"
            >
            </div>
            <div
              data-aos-delay="400"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="list-wrap"
            >
              <div class="list-block">
                <div class="correct-sign w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_612_2452)">
                      <path
                        d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                        fill="#9DB7B0"></path>
                      <path
                        d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class="health-text">
                  Cut documentation time by 60% with AI-powered workflows
                </div>
              </div>
              <div class="list-block">
                <div class="correct-sign w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_612_2452)">
                      <path
                        d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                        fill="#9DB7B0"></path>
                      <path
                        d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class="health-text">
                  Built-in compliance auditing that flags issues before they
                  become problems
                </div>
              </div>
              <div class="list-block">
                <div class="correct-sign w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_612_2452)">
                      <path
                        d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                        fill="#9DB7B0"></path>
                      <path
                        d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class="health-text">
                  Integrated e-prescribe, billing, and lab management in one
                  platform
                </div>
              </div>
              <div class="list-block">
                <div class="correct-sign w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_612_2452)">
                      <path
                        d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                        fill="#9DB7B0"></path>
                      <path
                        d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class="health-text">
                  Scalable for programs of all sizes
                </div>
              </div>
            </div>
            <div class="demoBtn">
              <a
                data-aos-delay="300"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-offset="40"
                href="https://calendly.com/d/zyn-7gp-xv6/navixai-demo"
                class="start-btn cc-align w-button">Schedule a Demo</a
              >
              <a
                data-aos-delay="300"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-offset="40"
                href="#"
                class="start-btn cc-align w-button">Download Product Sheet</a
              >
            </div>
          </div>
        </div>
        <!-- <div class="prof-img-block">
          <Image
            src={privatePracticeHeaderImg}
            width={1280}
            alt="Image of two professionals discussing"
            class="software-img"
            style="height: auto;"
          />
        </div> -->
      </div>
    </div>
  </section>

  <section
    class="section-ai-scribe"
    id="navix-scribe"
    style="margin-bottom: 50px;"
  >
    <div class="padding-global padding-section-medium cc-ai-scribe">
      <div class="w-layout-blockcontainer container cc-ai-scribe w-container">
        <div class="health-wrapper">
          <div class="health-block cc-width">
            <img
              src='/images/dylan-gillis-KdeqA3aTnBY-unsplash.png'
              style={{
                height: '30rem',
                width: 'auto',
                objectFit: 'cover',
                objectPosition: 'center',
                padding: '10px',
              }}
              alt="For Professionals Image"
              data-aos="fade-up"
              data-aos-delay="300"
              data-aos-offset="40"
              data-aos-duration="1200"
            />
          </div>
          <div class="health-block cc-width">
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="excellence-head"
            >
              THE BEHAVIORAL HEALTH EMR CHALLENGE
            </div>
            <br />
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="heading-style-h2 aos-init aos-animate"
            >
              Documentation Demands Are Overwhelming Your Clinical Team
            </div>
            <br />
            <br />
            <p
              data-aos-delay="200"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="text-size-small"
            >
              Behavioral health clinicians spend up to 50% of their workday on
              administrative tasks - writing notes, completing assessments,
              chasing authorizations, and ensuring compliance. This
              documentation burden drives burnout, creates compliance gaps, and
              delays reimbursements.
            </p>
            <br />
            <p
              data-aos-delay="200"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="text-size-small"
            >
              Navix EMR solves this. Our behavioral health EMR software combines
              intuitive clinical documentation, integrated e-prescribe,
              automated compliance auditing, and seamless billing workflows -
              all in one modern platform designed specifically for addiction
              treatment and mental health programs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="section-ai-scribe"
    id="navix-scribe"
    style="margin-bottom: 50px;"
  >
    <div class="padding-global padding-section-medium cc-ai-scribe">
      <div class="w-layout-blockcontainer container cc-ai-scribe w-container">
        <div class="health-wrapper">
          <div class="health-block cc-width">
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="excellence-head"
            >
              WHAT IS NAVIX EMR?
            </div>
            <br />
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="heading-style-h2 aos-init aos-animate"
            >
              Comprehensive Electronic Medical Records for Behavioral Health
              Programs
            </div>
            <br />
            <br />
            <p
              data-aos-delay="200"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="text-size-small"
            >
              Navix EMR is an all-in-one electronic medical records platform
              purpose-built for behavioral health. Unlike general healthcare
              EMRs, Navix was designed from the ground up for the unique
              requirements of addiction treatment centers, mental health
              clinics, MAT programs, and multi-site behavioral health
              organizations.
            </p>
            <br />
            <p
              data-aos-delay="200"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="text-size-small"
            >
              Our platform is built on three principles: an intuitive design
              that clinicians want to use, a compliance-first architecture that
              protects your organization, and flexible scalability that grows
              with your program.
            </p>
          </div>
          <div class="health-block cc-width">
            <img
              src='/images/s-o-c-i-a-l-c-u-t-kqL6CfFc664-unsplash.png'
              style={{
                height: '30rem',
                width: 'auto',
                objectFit: 'cover',
                objectPosition: 'center',
                padding: '10px',
              }}
              alt="For Professionals Image"
              data-aos="fade-up"
              data-aos-delay="300"
              data-aos-offset="40"
              data-aos-duration="1200"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="section-ai-scribe"
    id="navix-scribe"
    style="margin-bottom: 50px;"
  >
    <div class="padding-global padding-section-medium cc-ai-scribe">
      <div class="w-layout-blockcontainer container cc-ai-scribe w-container">
        <div class="marg">
          <div class="">
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="prof-head aos-init aos-animate"
            >
              CORE FEATURES & <br /> CAPABILITIES
            </div>
            <br />
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="heading-style-h2 aos-init aos-animate"
            >
              Complete Clinical Documentation Software <br /> for Addiction Treatment
              & Mental Health
            </div>
            <br />
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="subheading-nx aos-init aos-animate"
            >
              Clinical Documentation Suite
            </div>
            <br />
            <p
              data-aos-delay="200"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="text-size-small"
            >
              Comprehensive clinical documentation software for addiction
              treatment covering intake forms, assessments, individual and group
              progress notes, and treatment planning. <br /> Smart templates auto-populate
              patient information, and real-time collaboration allows multiple clinicians
              to document simultaneously.
            </p>
            <br />
            <p
              data-aos-delay="200"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-offset="40"
              class="text-size-small"
            >
              <strong>Visual:</strong> Interactive hub-and-spoke diagram with Navix
              at center
            </p>
          </div>
          <div class="health-wrapper">
            <div class="health-block cc-width">
              <div>
                <h2
                  data-aos-offset="40"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  class="experience-text aos-init aos-animate"
                >
                  Integrated EMR With E-Prescribe for Mental Health
                </h2>
                <h2
                  data-aos-offset="40"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  class="subheading-nx"
                >
                  Our medication management EMR includes full e-prescribe
                  capabilities:
                </h2>
                <div
                  data-aos-delay="300"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="divider cc-margin"
                >
                </div>
                <div
                  data-aos-delay="400"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="list-wrap"
                >
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Electronic prescribing including controlled substances
                      (EPCS-certified)
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Complete medication tracking with dosage and refill
                      management
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Drug interaction alerts and PDMP integration
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Automated refill request workflows
                    </div>
                  </div>
                </div>
              </div>
              <div class="margn">
                <h2
                  data-aos-offset="40"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  class="experience-text aos-init aos-animate"
                >
                  Authorizations & Utilization Review
                </h2>
                <div
                  data-aos-delay="300"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="divider cc-margin"
                >
                </div>
                <div
                  data-aos-delay="400"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="list-wrap"
                >
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Automated authorization tracking with proactive deadline
                      alerts
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      One-click utilization review summary generation
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Real-time insurance verification
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Streamlined pre-authorization workflows
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="health-block cc-width">
              <div>
                <h2
                  data-aos-offset="40"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  class="experience-text aos-init aos-animate"
                >
                  Built-in Compliance Auditing EMR System
                </h2>
                <h2
                  data-aos-offset="40"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  class="subheading-nx"
                >
                  Navix's compliance auditing EMR system provides proactive
                  protection:
                </h2>
                <div
                  data-aos-delay="300"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="divider cc-margin"
                >
                </div>
                <div
                  data-aos-delay="400"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="list-wrap"
                >
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Automated flagging of incomplete documentation and missing
                      signatures
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Unsigned note alerts with dashboard notifications
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">Complete audit trail tracking</div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Regulatory compliance monitoring for Joint Commission,
                      CARF, and state requirements
                    </div>
                  </div>
                </div>
              </div>
              <div class="margn">
                <h2
                  data-aos-offset="40"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  class="subheading-nx"
                >
                  Clinical Outcomes & Analytics
                </h2>
                <br />
                <p>
                  Patient progress dashboards, trendline analytics, standardized
                  outcome measurement tracking, and custom reporting for
                  accreditation and quality improvement.
                </p>
                <div
                  data-aos-delay="300"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="divider cc-margin"
                >
                </div>
                <div
                  data-aos-delay="400"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="list-wrap"
                >
                  <h2
                    data-aos-offset="40"
                    data-aos="fade-up"
                    data-aos-duration="1200"
                    class="subheading-nx"
                  >
                    Lab Integrations
                  </h2>
                  <br />
                  <p>
                    Exclusive Precision Diagnostics partnership with automated
                    lab ordering, results integration into patient records, and
                    streamlined drug screening management.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-global padding-section-medium cc-prof">
    <div class="w-layout-blockcontainer container w-container">
      <h1 class="section-heading-nx">KEY BENEFITS</h1>
      <br />
      <div
        data-aos-offset="40"
        data-aos="fade-up"
        data-aos-duration="1200"
        class="heading-style-h2 aos-init aos-animate"
      >
        Transform Your Behavioral Health Practice with Navix EMR
      </div>
      <div class="subsections-nx">
        <div class="subsection-nxc aos-init aos-animate">
          <h2 class="subheading-nx">Reduce Documentation Time by 60%</h2>
          <p class="subparagraph-nx">
            Navix is an EMR software that reduces documentation time through
            intelligent automation. Smart templates, AI-assisted note
            generation, and workflow automation eliminate redundant data entry.
            Clinicians report 60% less time documenting - meaning reduced
            burnout and more time for patient care.
          </p>
        </div>

        <div class="subsection-nxc aos-init aos-animate">
          <h2 class="subheading-nx">Ensure Full Compliance</h2>
          <p class="subparagraph-nx">
            Automated compliance checks flag issues before auditors find them.
            Documentation completeness tracking spans clinical, medical, and
            administrative departments. Fewer audit findings, reduced clawback
            risk, and confidence your documentation meets standards.
          </p>
        </div>

        <div class="subsection-nxc aos-init aos-animate">
          <h2 class="subheading-nx">Streamline Billing & Revenue Cycle</h2>
          <p class="subparagraph-nx">
            Direct CollaborateMD integration enables end-to-end revenue cycle
            management. Clinical documentation flows into billing automatically.
            Claims are scrubbed before submission. Facilities report faster
            reimbursements and fewer rejections.
          </p>
        </div>

        <div class="subsection-nxc aos-init aos-animate">
          <h2 class="subheading-nx">Scalable for Any Program Size</h2>
          <p class="subparagraph-nx">
            From small outpatient practices to multi-site residential
            organizations, Navix adapts to your workflows with customizable
            templates, flexible implementation, and growth-ready infrastructure.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-global padding-section-medium cc-prof">
    <div class="w-layout-blockcontainer container w-container">
      <div class="VISUALIZATION">
        <h1 class="experience-text aos-init aos-animate">
          INTEGRATION ECOSYSTEM
        </h1>
        <p class="prof-head aos-init aos-animate">
          Seamless Integrations for Complete Practice Management
        </p>
      </div>

      <div class="integration-item nx-item">
        <strong>CollaborateMD </strong>
        Integrated billing and revenue cycle automation
      </div>

      <div class="integration-item nx-item">
        <strong> Precision Diagnostics </strong>
        Exclusive lab partnership for automated ordering and results
      </div>

      <div class="integration-item nx-item">
        <strong>E-Prescribe networks </strong>
        Direct pharmacy connectivity, including EPCS
      </div>

      <div class="integration-item nx-item">
        <strong>Third-party integrations </strong>
        Patient engagement, telehealth, and specialty applications
      </div>

      <div class="integration-item nx-item">
        <strong> API capabilities  </strong>
        Custom integrations for enterprise environments
      </div>
    </div>
  </section>

  <section
    class="section-ai-scribe"
    id="navix-scribe"
    style="margin-bottom: 50px;"
  >
    <div class="padding-global padding-section-medium cc-ai-scribe">
      <div class="w-layout-blockcontainer container cc-ai-scribe w-container">
        <div class="marg">
          <div class="">
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="prof-head aos-init aos-animate"
            >
              IMPLEMENTATION & SUPPORT
            </div>
            <br />
            <div
              data-aos-offset="40"
              data-aos="fade-up"
              data-aos-duration="1200"
              class="heading-style-h2 aos-init aos-animate"
            >
              Simple Implementation, Ongoing Support
            </div>
            <div class="divider cc-margin aos-init aos-animate"></div>
          </div>
          <div class="health-wrapper">
            <div class="health-block cc-width">
              <div>
                <div
                  data-aos-delay="400"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-offset="40"
                  class="list-wrap"
                >
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Dedicated implementation specialist and structured
                      onboarding
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Role-based training for clinicians, billing staff, and
                      administrators
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Data migration assistance from legacy systems
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Go-live support and ongoing customer success team
                    </div>
                  </div>
                  <div class="list-block">
                    <div class="correct-sign w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="34"
                        height="34"
                        viewBox="0 0 34 34"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_612_2452)">
                          <path
                            d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z"
                            fill="#9DB7B0"></path>
                          <path
                            d="M12.75 16.9993L15.5833 19.8327L21.25 14.166"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </g>
                        <defs>
                          <clippath id="clip0_612_2452">
                            <rect width="34" height="34" fill="white"></rect>
                          </clippath>
                        </defs>
                      </svg>
                    </div>
                    <div class="health-text">
                      Average support response time under 2 hours
                    </div>
                  </div>
                  <p>
                    <strong>Timeline:</strong> Most facilities fully operational within
                    4-6 weeks.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding-global padding-section-medium cc-prof">
    <div class="w-layout-blockcontainer container w-container">
      <div class="">
        <h1 class="aos-init aos-animate">
          Ready to Transform Your  <br /> Behavioral Health Practice?
        </h1>
        <br />
        <p class="section-paragraph-nx">
          Navix EMR delivers modern, intuitive software that reduces documentation <br /> burden, ensures compliance, and streamlines revenue cycle management - all in one platform.
        </p>
        <div class="demoBtn">
          <a
            data-aos-delay="300"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-offset="40"
            href="https://calendly.com/d/zyn-7gp-xv6/navixai-demo"
            class="start-btn cc-align w-button">Schedule a Demo</a
          >
          <a
            data-aos-delay="300"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-offset="40"
            href="#"
            class="start-btn cc-align w-button"
            >View Pricing</a
          >
        </div>
      </div>
    </div>
  </section>
</main>
