<main class='main-wrapper'>
  <section class='section-faq-hero'>
    <div class='padding-global padding-section-medium cc-faq-hero'>
      <div class='w-layout-blockcontainer container cc-faq w-container'>
        <div class='faq-hero-wrapper'>
          <div class='faq-head-block'>
            <h1 class='experience-text'>Navix Health FAQs - Common Questions Answered</h1>
            <!-- <h2 class='text-large cc-mb cc-font-size'>Questions?</h2> -->
          </div>
          <div class='faq-content-block'>
            <p class='text-size-small cc-mb'>
              We have a simple and transparent fee structure so you know what
              your bill will look like every month. Our software is
              all-inclusive, and we do not up-charge for specific components.
            </p>
            <p class='text-size-small'>
              If you&#x27;re looking for more information about our plans and
              pricing, click below
            </p>
            <a href='pricing' class='start-btn cc-align cc-change w-button'
              >Plans &amp; Pricing</a
            >
          </div>
        </div>
      </div>
    </div><img
      src='/images/Group-1000000881-1---Copy.png'
      loading='lazy'
      alt='A star used for decoration.'
      class='image-39'
    />
  </section>
  <section class='section-faq'>
    <div class='padding-global padding-section-medium cc-faq'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='faq-content-wrapper'>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>How do I demo your software?</h3>
            <p class='faq-content'>
              You can schedule a demo by clicking on our <a
                href='https://calendly.com/d/yk9-xfc-stg/navix-demo'
                target='_blank'
                rel='noopener'
                class='link'>Request a Demo</a
              > link here.
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>How do you protect patient data?</h3>
            <p class='faq-content'>
              <strong
                >First and foremost, we comply with all applicable laws and
                regulations</strong
              >, including the Health Insurance Portability and Accountability
              Act (HIPAA) Privacy Rule. This rule establishes national standards
              for protecting patient health information and requires us to
              maintain that information&#x27;s confidentiality, integrity and
              availability.
            </p>
            <p class='faq-content'>
              To ensure compliance with HIPAA, we have implemented a number of
              security measures, including:
            </p>
            <p class='faq-content cc-margin'>
              <strong>Encrypting patient data:</strong> All patient data is
              encrypted in transit using industry-standard encryption
              technologies. This ensures that patient data is protected even if
              it is intercepted by unauthorized individuals.
            </p>
            <p class='faq-content cc-margin'>
              <strong>Implementing access controls:</strong>We have implemented
              strict access controls to ensure that only authorized individuals
              can access patient data. This includes requiring employees to use
              unique login credentials and regularly monitoring and auditing
              access to patient data.
            </p>
            <p class='faq-content cc-margin'>
              <strong>Conducting security audits:</strong> We conduct security
              audits to identify and address potential vulnerabilities in our
              systems and processes.
            </p>
            <p class='faq-content'>
              By implementing these and other security measures, we are
              confident that we are able to protect patient data and comply with
              HIPAA Privacy requirements. If you have any additional questions
              about our data protection practices, please don&#x27;t hesitate to


              <a href='contact' class='link'>contact us.</a>
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>
              What do you mean when you say you provide a seamless approach to
              behavioral health software?
            </h3>
            <p class='faq-content'>
              Rather than build freestanding components with integrations as an
              afterthought, <strong
                >we’ve built our software to operate as a fully unified platform
                that combines CRM, EMR and RCM services into one</strong
              >, providing highly adaptable and flexible features so
              practitioners can customize their software to best serve the
              unique needs of their behavioral health organizations and group
              practices. Recognizing the difficulty of operational changes,
              we’ve designed Navix Hub™ to be highly intuitive and easy to
              learn. Data is seamlessly transferable from existing operating
              systems, reducing the friction in adoption and implementation.
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>
              How do you make onboarding to your software less painful than
              other platforms?
            </h3>
            <p class='faq-content'>
              Our onboarding process is stream in lined through internal
              software. Once you purchase the software through our website, you
              will be prompted to fill out the onboarding forms via the website
              or when you first log into your software. Once these forms are
              complete, your implementation specialist will be in contact within
              24-hours to begin building out your software. This process can
              take anywhere from 1-day to 2-weeks depending on the
              implementation package you choose at checkout.
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>
              Does your platform integrate with other software tools?
            </h3>
            <p class='faq-content'>
              <strong
                >Our platform is integrated with Google Analytics, Zoom, Change
                Healthcare and Docusign</strong
              > and is compatible with several other software tools. These
              integrations allow for customizable reports, fully-encrypted
              telehealth services, fast and accurate verification of benefits
              and a simple way to collect, track and aggregate patient data for
              ongoing performance improvement.
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>What experience and education do you have?</h3>
            <p class='faq-content'>
              <strong
                >Our team has over 50 years combined experience working in the
                behavioral healthcare industry</strong
              > in positions such as CEO, Chief Operations Officer, Executive
              Director, Clinical Director, Chief Compliance Officer, Director of
              Utilization Management and Admissions. Our diverse educational
              backgrounds also span multiple industries, including Business
              Administration, Chemical Engineering, Accounting, Law,
              Communications, Counseling and Social Work.
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div class='faq-content-wrap'>
            <h3 class='faq-que'>Why do I need your software?</h3>
            <p class='faq-content'>
              You have many options when it comes to software. Navix Hub™ aims
              to eliminate the pain points often experienced with other
              platforms by providing a seamless approach to behavior health
              software so professionals can devote less time and energy to
              patient onboarding and management, clinical documentation, claims
              management and billing and instead focus their resources on what
              matters most: the patient.<strong>
                Navix Hub™ software reduces operational costs and relieves the
                time and energy of staff, helping optimize and improve both
                business and clinical outcomes.</strong
              >
            </p>
            <div class='helpful-wrapper'>
              <div class='helpful-content'>Was this helpful?</div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8190)'>
                    <path
                      d='M1.99805 6.49902H4.99805V12.999H1.99805C1.86544 12.999 1.73826 12.9463 1.64449 12.8526C1.55073 12.7588 1.49805 12.6316 1.49805 12.499V6.99902C1.49805 6.86642 1.55073 6.73924 1.64449 6.64547C1.73826 6.5517 1.86544 6.49902 1.99805 6.49902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4.99805 6.49902L7.49805 1.49902C8.02848 1.49902 8.53719 1.70974 8.91226 2.08481C9.28733 2.45988 9.49805 2.96859 9.49805 3.49902V4.99902H13.498C13.6399 4.99906 13.7801 5.02928 13.9094 5.08767C14.0387 5.14606 14.154 5.23129 14.2479 5.33769C14.3417 5.44409 14.4118 5.56924 14.4535 5.70481C14.4952 5.84038 14.5077 5.98328 14.4899 6.12402L13.7399 12.124C13.7095 12.3656 13.5919 12.5878 13.4093 12.7489C13.2267 12.91 12.9916 12.999 12.748 12.999H4.99805'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8190'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(-0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='helpful-img w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  viewBox='0 0 16 16'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_8195)'>
                    <path
                      d='M2.00195 2.99902H5.00195V9.49902H2.00195C1.86934 9.49902 1.74217 9.44635 1.6484 9.35258C1.55463 9.25881 1.50195 9.13163 1.50195 8.99902V3.49902C1.50195 3.36642 1.55463 3.23924 1.6484 3.14547C1.74217 3.0517 1.86934 2.99902 2.00195 2.99902Z'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M5.00195 9.49902L7.50195 14.499C8.03239 14.499 8.54109 14.2883 8.91617 13.9132C9.29124 13.5382 9.50195 13.0295 9.50195 12.499V10.999H13.502C13.6438 10.999 13.784 10.9688 13.9133 10.9104C14.0426 10.852 14.158 10.7668 14.2518 10.6604C14.3456 10.554 14.4157 10.4288 14.4574 10.2932C14.4991 10.1577 14.5116 10.0148 14.4938 9.87402L13.7438 3.87402C13.7134 3.63241 13.5958 3.41022 13.4132 3.24912C13.2306 3.08802 12.9955 2.99909 12.752 2.99902H5.00195'
                      stroke='#A28292'
                      stroke-width='1.33333'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_8195'>
                      <rect
                        width='16'
                        height='16'
                        fill='white'
                        transform='translate(0.00195312 -0.000976562)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-price'>
    <div class='padding-global padding-section-medium'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='price-wrapper'>
          <h2 class='price-head'>See pricing<br /></h2>
          <p class='price-para'>
            Explore transparent pricing options for the Navix Health
            app—empowering you with clarity and choice for your healthcare
            needs.
          </p>
          <a href='pricing' class='start-btn w-button'>Get started</a>
        </div>
      </div>
    </div>
  </section>
</main>
