<main class='main-wrapper'>
  <section class='section-trial-hero'>
    <div class='padding-global padding-section-medium cc-trial-hero'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='trial-hero-wrapper'>
          <div class='trial-hero-block'>
            <div class='text-size-small cc-trial'>Request a custom demo</div>
            <h1 class='trial-head'>Navix Health Free Trial - Streamline Practice Management</h1>
            <h2 class='trial-subhead'>Demo?</h2>
            <div class='trial-list'>
              <div class='trial-list-item'>
                <div class='html-embed-19 w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_615_6003)'>
                      <path
                        d='M3 12.0002C3 13.1821 3.23279 14.3525 3.68508 15.4444C4.13738 16.5363 4.80031 17.5285 5.63604 18.3642C6.47177 19.1999 7.46392 19.8629 8.55585 20.3152C9.64778 20.7675 10.8181 21.0002 12 21.0002C13.1819 21.0002 14.3522 20.7675 15.4442 20.3152C16.5361 19.8629 17.5282 19.1999 18.364 18.3642C19.1997 17.5285 19.8626 16.5363 20.3149 15.4444C20.7672 14.3525 21 13.1821 21 12.0002C21 10.8183 20.7672 9.64802 20.3149 8.55609C19.8626 7.46416 19.1997 6.47201 18.364 5.63628C17.5282 4.80056 16.5361 4.13762 15.4442 3.68533C14.3522 3.23304 13.1819 3.00024 12 3.00024C10.8181 3.00024 9.64778 3.23304 8.55585 3.68533C7.46392 4.13762 6.47177 4.80056 5.63604 5.63628C4.80031 6.47201 4.13738 7.46416 3.68508 8.55609C3.23279 9.64802 3 10.8183 3 12.0002Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M9 11.9998L11 13.9998L15 9.99976'
                        stroke='white'
                        stroke-width='1.05882'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_615_6003'>
                        <rect width='24' height='24' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div>Manage your practice efficiently</div>
              </div>
              <div class='trial-list-item'>
                <div class='html-embed-19 w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_615_6003)'>
                      <path
                        d='M3 12.0002C3 13.1821 3.23279 14.3525 3.68508 15.4444C4.13738 16.5363 4.80031 17.5285 5.63604 18.3642C6.47177 19.1999 7.46392 19.8629 8.55585 20.3152C9.64778 20.7675 10.8181 21.0002 12 21.0002C13.1819 21.0002 14.3522 20.7675 15.4442 20.3152C16.5361 19.8629 17.5282 19.1999 18.364 18.3642C19.1997 17.5285 19.8626 16.5363 20.3149 15.4444C20.7672 14.3525 21 13.1821 21 12.0002C21 10.8183 20.7672 9.64802 20.3149 8.55609C19.8626 7.46416 19.1997 6.47201 18.364 5.63628C17.5282 4.80056 16.5361 4.13762 15.4442 3.68533C14.3522 3.23304 13.1819 3.00024 12 3.00024C10.8181 3.00024 9.64778 3.23304 8.55585 3.68533C7.46392 4.13762 6.47177 4.80056 5.63604 5.63628C4.80031 6.47201 4.13738 7.46416 3.68508 8.55609C3.23279 9.64802 3 10.8183 3 12.0002Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M9 11.9998L11 13.9998L15 9.99976'
                        stroke='white'
                        stroke-width='1.05882'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_615_6003'>
                        <rect width='24' height='24' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div>Easy to use</div>
              </div>
              <div class='trial-list-item'>
                <div class='html-embed-19 w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_615_6003)'>
                      <path
                        d='M3 12.0002C3 13.1821 3.23279 14.3525 3.68508 15.4444C4.13738 16.5363 4.80031 17.5285 5.63604 18.3642C6.47177 19.1999 7.46392 19.8629 8.55585 20.3152C9.64778 20.7675 10.8181 21.0002 12 21.0002C13.1819 21.0002 14.3522 20.7675 15.4442 20.3152C16.5361 19.8629 17.5282 19.1999 18.364 18.3642C19.1997 17.5285 19.8626 16.5363 20.3149 15.4444C20.7672 14.3525 21 13.1821 21 12.0002C21 10.8183 20.7672 9.64802 20.3149 8.55609C19.8626 7.46416 19.1997 6.47201 18.364 5.63628C17.5282 4.80056 16.5361 4.13762 15.4442 3.68533C14.3522 3.23304 13.1819 3.00024 12 3.00024C10.8181 3.00024 9.64778 3.23304 8.55585 3.68533C7.46392 4.13762 6.47177 4.80056 5.63604 5.63628C4.80031 6.47201 4.13738 7.46416 3.68508 8.55609C3.23279 9.64802 3 10.8183 3 12.0002Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M9 11.9998L11 13.9998L15 9.99976'
                        stroke='white'
                        stroke-width='1.05882'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_615_6003'>
                        <rect width='24' height='24' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div>Seamless components</div>
              </div>
            </div>
          </div>
          <div class='form-block w-form'>
            <form
              id='email-form'
              name='email-form'
              class='form'
              action='https://formspree.io/f/mrgnqprg'
              method='POST'
            >
              <div class='name-block'>
                <input
                  class='text-field w-input'
                  maxlength='256'
                  name='first-name'
                  placeholder='First Name'
                  type='text'
                  id='name'
                  required=''
                />
                <input
                  class='text-field w-input'
                  maxlength='256'
                  name='last-name'
                  placeholder='Last Name'
                  type='text'
                  id='last-name'
                  required=''
                />
              </div>
              <div class='name-block'>
                <input
                  class='text-field w-input'
                  maxlength='256'
                  name='company-name'
                  placeholder='Company Name'
                  type='text'
                  id='company-name'
                  required=''
                />
                <input
                  class='text-field w-input'
                  maxlength='256'
                  name='job-title'
                  placeholder='Job Title'
                  type='text'
                  id='job-title'
                  required=''
                />
              </div>
              <div class='name-block'>
                <input
                  class='text-field w-input'
                  maxlength='256'
                  name='phone-number'
                  placeholder='Phone Number'
                  type='text'
                  id='number'
                  required=''
                />
                <input
                  class='text-field w-input'
                  maxlength='256'
                  name='email'
                  placeholder='Email'
                  type='email'
                  id='email-2'
                  required=''
                />
              </div>
              <label for='where-heard' class='field-label'
                >Where did you hear about Navix Health</label
              >
              <select
                id='where-heard'
                name='source'
                required=''
                class='select-field w-select'
              >
                <option value=''>Select</option>
                <option value='First'>First choice</option>
                <option value='Second'>Second choice</option>
                <option value='Third'>Third choice</option>
              </select>
              <label for='message' class='field-label'>Message</label>
              <textarea
                placeholder='Enter your message here'
                maxlength='5000'
                id='message'
                name='message'
                class='textarea w-input'></textarea>
              <div class='submit-btn-wrap'>
                <input
                  type='submit'
                  data-wait='Please wait...'
                  class='submit-button w-button'
                  value='Submit'
                />
              </div>
            </form>
            <div class='w-form-done'>
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class='w-form-fail'>
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-help'>
    <div class='help-wrapper'>
      <div class='help-head-wrap'>
        <h2 class='trial-head'>Need more</h2>
        <h2 class='trial-subhead'>Help?</h2>
        <p class='trial-para'>
          Spend less time on administrative tasks and more time creating
          positive patient experiences.
        </p>
        <div class='trial-btn-wrap'>
          <a href='contact' class='trail-touch-btn w-button'>Get in touch</a>
          <a href='faqs' class='start-btn cc-color w-button'>FAQs</a>
        </div>
      </div>
      <div class='help-img-wrap'>
        <img
          src='../../public/images/Frame-1000000828.png'
          loading='lazy'
          sizes='(max-width: 479px) 92vw, (max-width: 765px) 94vw, (max-width: 767px) 720px, (max-width: 991px) 90vw, 50vw'
          srcset='../../public/images/Frame-1000000828-p-500.png 500w, ../../public/images/Frame-1000000828.png 720w'
          alt='A telephone used for decoration.'
          class='trial-ph-img'
        />
      </div>
    </div>
  </section>
</main>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    var form = document.getElementById('email-form');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      var formData = new FormData(form);

      fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
          Accept: 'application/json',
        },
      })
        .then((response) => {
          if (response.ok) {
            form.reset();
            document.querySelector('.w-form-done').style.display = 'block';
          } else {
            response.json().then((data) => {
              if (data.errors) {
                console.log('Validation errors:', data.errors);
              }
              document.querySelector('.w-form-fail').style.display = 'block';
            });
          }
        })
        .catch((error) => {
          console.error('Error:', error);
          document.querySelector('.w-form-fail').style.display = 'block';
        });
    });
  });
</script>
