<main class='main-wrapper'>
  <section class='section-scribe'>
    <div class='padding-global padding-section-medium cc-scribe'>
      <div class='w-layout-blockcontainer container cc-ai-scribe w-container'>
        <div class='scribe-hero-wrapper'>
          <div class='scribe-content-block'>
            <h1
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='scribe-hero-head'
            >
              AI-Powered Transcription for Healthcare Professionals
            </h1>
            <p
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-size-small cc-size'
            >
              Navix Health is excited to bring you its latest innovation,
              NavixScribe™, a HIPAA-compliant, AI-powered tool that transcribes
              your session or audio file and writes a formatted note.
              NavixScribe Groups is now available to transcribe the group
              session and write formatted notes for each participant. The future
              of behavioral health technology is here with NAVIX.
            </p>
          </div>
          <div
            data-aos-delay='300'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='scribe-block'
          >
            <div class='text-block'>
              <span class='text-span-19'>AI-powered</span> transcriptions &amp;
              formatted notes
            </div>
            <a
              href='https://app.navix.ai/signup'
              target='_blank'
              rel='noopener'
              class='start-btn cc-align w-button'>Get started</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-ai-scribe'>
    <div class='padding-global padding-section-medium cc-navixscribe'>
      <div class='w-layout-blockcontainer container cc-ai-scribe w-container'>
        <div class='health-wrapper'>
          <div class='health-block cc-width'>
            <div
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='experience-text'
            >
              What is
            </div>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='text-large cc-mb cc-size'
            >
              NavixScribe?
            </h2>
            <p
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-size-small'
            >
              NavixScribe™ is an AI-powered tool that transcribes and creates a
              formatted note based off of the recording of your session or an
              audio of a &quot;raw&quot; audio note. The recording button is
              accessed within the Navix EMR or you can use this tool by
              uploading an audio file in our suite of NavixAI tools.
            </p>
            <div
              data-aos-delay='300'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='divider cc-margin'
            >
            </div>
            <div
              data-aos-delay='400'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='list-wrap'
            >
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>Automation for Efficiency</div>
              </div>
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>Accuracy and Reliability</div>
              </div>
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>
                  Integration with Familiar Platforms
                </div>
              </div>
              <div class='list-block'>
                <div class='correct-sign w-embed'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='34'
                    height='34'
                    viewBox='0 0 34 34'
                    fill='none'
                  >
                    <g clip-path='url(#clip0_612_2452)'>
                      <path
                        d='M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z'
                        fill='#9DB7B0'></path>
                      <path
                        d='M12.75 16.9993L15.5833 19.8327L21.25 14.166'
                        stroke='white'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'></path>
                    </g>
                    <defs>
                      <clippath id='clip0_612_2452'>
                        <rect width='34' height='34' fill='white'></rect>
                      </clippath>
                    </defs>
                  </svg>
                </div>
                <div class='health-text'>Various Note Formats</div>
              </div>
            </div>
          </div>
          <div class='health-img-wrap'>
            <img
              data-aos='fade-up'
              class='scribe-img'
              src='/images/Frame-1171276185.png'
              alt='A female patient/clent recording a session used as a decoration for NAvixScribe.'
              sizes='(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 90vw, 49vw'
              data-aos-delay='300'
              loading='lazy'
              data-aos-offset='40'
              srcset='/images/Frame-1171276185-p-500.png 500w, /images/Frame-1171276185.png 764w'
              data-aos-duration='1200'
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-ai-scribe'>
    <div class='padding-global padding-section-medium cc-scribe-work'>
      <div class='w-layout-blockcontainer container cc-ai-scribe w-container'>
        <div class='health-wrapper cc-swap'>
          <div
            data-aos-delay='300'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='health-img-wrap'
          >
            <img
              src='/images/image-2596-2.png'
              loading='lazy'
              sizes='(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 90vw, 50vw'
              srcset='/images/image-2596-2-p-500.png 500w, /images/image-2596-2-p-800.png 800w, /images/image-2596-2-p-1080.png 1080w, /images/image-2596-2.png 1474w'
              alt='A screenshot of NavixScribe.'
              class='navix-ai-img'
            /><img
              src='/images/Group-1000000866.png'
              loading='lazy'
              sizes='(max-width: 479px) 92vw, (max-width: 726px) 94vw, (max-width: 991px) 683px, 46vw'
              srcset='/images/Group-1000000866-p-500.png 500w, /images/Group-1000000866.png 683w'
              alt='A image of frequency.'
              class='navix-ai-subimg'
            />
            <div class='volume-embed w-embed'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='44'
                height='44'
                viewBox='0 0 44 44'
                fill='none'
              >
                <g clip-path='url(#clip0_991_3692)'>
                  <path
                    d='M16.5 9.16699C16.5 7.7083 17.0795 6.30936 18.1109 5.27791C19.1424 4.24646 20.5413 3.66699 22 3.66699C23.4587 3.66699 24.8576 4.24646 25.8891 5.27791C26.9205 6.30936 27.5 7.7083 27.5 9.16699V18.3337C27.5 19.7924 26.9205 21.1913 25.8891 22.2227C24.8576 23.2542 23.4587 23.8337 22 23.8337C20.5413 23.8337 19.1424 23.2542 18.1109 22.2227C17.0795 21.1913 16.5 19.7924 16.5 18.3337V9.16699Z'
                    stroke='#C2996C'
                    stroke-width='2.75'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M9.1665 18.333C9.1665 21.7366 10.5186 25.0008 12.9253 27.4075C15.332 29.8143 18.5962 31.1663 21.9998 31.1663C25.4034 31.1663 28.6677 29.8143 31.0744 27.4075C33.4811 25.0008 34.8332 21.7366 34.8332 18.333'
                    stroke='#C2996C'
                    stroke-width='2.75'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M14.6665 38.5H29.3332'
                    stroke='#C2996C'
                    stroke-width='2.75'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                  <path
                    d='M22 31.167V38.5003'
                    stroke='#C2996C'
                    stroke-width='2.75'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </g>
                <defs>
                  <clippath id='clip0_991_3692'>
                    <rect width='44' height='44' fill='white'></rect>
                  </clippath>
                </defs>
              </svg>
            </div>
          </div>
          <div class='health-block cc-max'>
            <div
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='experience-text'
            >
              How  it
            </div>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='text-large cc-mb cc-size'
            >
              Works?
            </h2>
            <p
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-delay='200'
              class='text-size-regular'
            >
              NavixScribe™ begins by transcribing audio recordings of your
              one-on-one and group sessions.. It then analyze the text and
              generates your notes in the format of your choice; SOAP, DAP,
              SIRP, BIRP AND GIRP. NavixScribe™ allows you to dictate a note in
              a free-form style and will generate a note in your preferred
              format
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='section-why-scribe'>
    <div class='padding-global padding-section-medium cc-why-scribe'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='why-scribe-wrapper'>
          <div class='health-block cc-size'>
            <div
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='experience-text'
            >
              Why
            </div>
            <h2
              data-aos-offset='40'
              data-aos='fade-up'
              data-aos-duration='1200'
              class='text-large cc-mb cc-size'
            >
              NavixScribe?
            </h2>
            <p
              data-aos-delay='200'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              class='text-size-regular cc-width'
            >
              Documentation is the #1 cause of burnout and frustration for
              clinicians. NavixScribe™ empowers behavioral health professionals
              and therapists by simplifying the process of note taking through
              transcribing and creating a note in your preferred format; SOAP,
              DAP, SIRP, BIRP or GIRP.
            </p>
            <a
              data-aos-delay='300'
              data-aos='fade-up'
              data-aos-duration='1200'
              data-aos-offset='40'
              href='https://app.navix.ai/signup'
              target='_blank'
              rel='noopener'
              class='start-btn cc-align w-button'>Get started</a
            >
          </div>
          <div
            data-aos-delay='300'
            data-aos='fade-up'
            data-aos-duration='1200'
            data-aos-offset='40'
            class='scribe-card-wrapper'
          >
            <div class='scribe-card'>
              <div class='html-embed-28 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='36'
                  height='36'
                  viewBox='0 0 36 36'
                  fill='none'
                >
                  <path
                    d='M18 9V18H24.75M31.5 18C31.5 19.7728 31.1508 21.5283 30.4724 23.1662C29.7939 24.8041 28.7995 26.2923 27.5459 27.5459C26.2923 28.7995 24.8041 29.7939 23.1662 30.4724C21.5283 31.1508 19.7728 31.5 18 31.5C16.2272 31.5 14.4717 31.1508 12.8338 30.4724C11.1959 29.7939 9.70765 28.7995 8.45406 27.5459C7.20047 26.2923 6.20606 24.8041 5.52763 23.1662C4.84919 21.5283 4.5 19.7728 4.5 18C4.5 14.4196 5.92232 10.9858 8.45406 8.45406C10.9858 5.92232 14.4196 4.5 18 4.5C21.5804 4.5 25.0142 5.92232 27.5459 8.45406C30.0777 10.9858 31.5 14.4196 31.5 18Z'
                    stroke='#C2996C'
                    stroke-width='2.25'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </svg>
              </div>
              <div class='why-text'>Time saving</div>
              <p class='text-size-small'>
                NavixScribe™ helps you reclaim valuable time by automatically
                creating your notes from your audio dictation allowing you to
                dedicate your focus entirely on your clients.
              </p>
            </div>
            <div class='scribe-divider cc-width'></div>
            <div class='scribe-card'>
              <div class='html-embed-28 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='36'
                  height='36'
                  viewBox='0 0 36 36'
                  fill='none'
                >
                  <path
                    d='M12.375 11.25V9.162C12.375 7.4595 13.6425 6.015 15.339 5.874C15.8985 5.829 16.461 5.7885 17.0235 5.754M23.625 27H27C27.8951 27 28.7535 26.6444 29.3865 26.0115C30.0194 25.3785 30.375 24.5201 30.375 23.625V9.162C30.375 7.4595 29.1075 6.015 27.411 5.874C26.85 5.82747 26.2884 5.78747 25.7265 5.754M25.7265 5.754C25.5135 5.06505 25.0839 4.4624 24.5036 4.03431C23.9233 3.60622 23.2211 3.37517 22.5 3.375H20.25C19.5289 3.37517 18.8267 3.60622 18.2464 4.03431C17.6661 4.4624 17.238 5.06505 17.025 5.754C16.9275 6.069 16.875 6.4035 16.875 6.75V7.875H25.875V6.75C25.875 6.4035 25.824 6.069 25.7265 5.754ZM23.625 28.125V25.3125C23.625 23.9698 23.0916 22.6822 22.1422 21.7328C21.1928 20.7834 19.9052 20.25 18.5625 20.25H16.3125C15.8649 20.25 15.4357 20.0722 15.1193 19.7557C14.8028 19.4393 14.625 19.0101 14.625 18.5625V16.3125C14.625 14.9698 14.0916 13.6822 13.1422 12.7328C12.1928 11.7834 10.9052 11.25 9.5625 11.25H7.875M10.125 11.25H7.3125C6.381 11.25 5.625 12.006 5.625 12.9375V30.9375C5.625 31.869 6.381 32.625 7.3125 32.625H21.9375C22.869 32.625 23.625 31.869 23.625 30.9375V24.75C23.625 21.1696 22.2027 17.7358 19.6709 15.2041C17.1392 12.6723 13.7054 11.25 10.125 11.25Z'
                    stroke='#A28292'
                    stroke-width='2.25'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </svg>
              </div>
              <div class='why-text'>Multiple Formats</div>
              <p class='text-size-small'>
                Whether you prefer SOAP, DAP, SIRP, BIRP, or GIRP format for
                your notes, NavixScribe™ has you covered.
              </p>
            </div>
            <div class='scribe-divider'></div>
            <div class='scribe-divider cc-hide'></div>
            <div class='scribe-divider cc-hide'></div>
            <div class='scribe-card'>
              <div class='html-embed-28 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='36'
                  height='36'
                  viewBox='0 0 36 36'
                  fill='none'
                >
                  <g clip-path='url(#clip0_991_12061)'>
                    <path
                      d='M13.5 7.50195C13.5 6.30848 13.9741 5.16389 14.818 4.31997C15.6619 3.47606 16.8065 3.00195 18 3.00195C19.1935 3.00195 20.3381 3.47606 21.182 4.31997C22.0259 5.16389 22.5 6.30848 22.5 7.50195V15.002C22.5 16.1954 22.0259 17.34 21.182 18.1839C20.3381 19.0278 19.1935 19.502 18 19.502C16.8065 19.502 15.6619 19.0278 14.818 18.1839C13.9741 17.34 13.5 16.1954 13.5 15.002V7.50195Z'
                      stroke='#9DB7B0'
                      stroke-width='2.25'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M7.5 15C7.5 17.7848 8.60625 20.4555 10.5754 22.4246C12.5445 24.3938 15.2152 25.5 18 25.5C20.7848 25.5 23.4555 24.3938 25.4246 22.4246C27.3938 20.4555 28.5 17.7848 28.5 15'
                      stroke='#9DB7B0'
                      stroke-width='2.25'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M12 31.5H24'
                      stroke='#9DB7B0'
                      stroke-width='2.25'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M18 25.502V31.502'
                      stroke='#9DB7B0'
                      stroke-width='2.25'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_991_12061'>
                      <rect width='36' height='36' fill='white'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='why-text'>Enhanced Accuracy</div>
              <p class='text-size-small'>
                NavixScribe™ isn’t just quick—it’s precise. Improve the quality
                and reliability of your notes with this cutting-edge technology.
              </p>
            </div>
            <div class='scribe-divider cc-width'></div>
            <div class='scribe-card'>
              <div class='html-embed-28 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='36'
                  height='36'
                  viewBox='0 0 36 36'
                  fill='none'
                >
                  <path
                    d='M13.5 19.1263L16.875 22.5013L22.5 14.6263M18 4.07227C14.6036 7.29762 10.0804 9.06663 5.39701 9.00127C4.80126 10.8162 4.49846 12.7145 4.50001 14.6248C4.50001 23.0128 10.236 30.0598 18 32.0593C25.764 30.0613 31.5 23.0143 31.5 14.6263C31.5 12.6613 31.185 10.7698 30.603 8.99977H30.375C25.581 8.99977 21.225 7.12777 18 4.07227Z'
                    stroke='#374651'
                    stroke-width='2.25'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </svg>
              </div>
              <div class='why-text'>HIPAA Compliant</div>
              <p class='text-size-small'>
                NavixScribe™ is HIPAA compliant, so your data and your client’s
                data are in safe hands.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
