<div class='main-wrapper'>
  <section class='section-pp'>
    <div class='padding-global padding-section-medium'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='pp-wrapper'>
          <h1 class='pp-heading'>Privacy Policy</h1>
          <div class='pp-warpper-h2'>
            <h2 class='pp-heading-2'>Navix Health Inc.</h2>
          </div>
          <div class='pp-block-wrapper w-richtext'>
            <h3 class='pp-heading-3'>What information do we collect?</h3>
            <p>
              We (Navix Health Inc) collect information from you when you visit
              our website, register to trial, purchase or subscribe to our
              web-based products and services.
            </p>
            <p>
              When registering on our website, you will be asked to enter your
              name or the name of your business, an e-mail address, phone number
              or social security number if required. You may, however, also
              visit the Navix Health site anonymously.
            </p>
            <h3 class='pp-heading-3'>What do we use your information for?</h3>
            <p>
              <strong
                >Any of the information we collect from you may be used in one
                of the following ways:</strong>
            </p>
            <p>
              <strong>To personalize your user experience</strong> - your
              information helps us to respond better to your individual needs.
            </p>
            <p>
              <strong>To improve our website</strong> - we continually strive to
              improve our website offerings based on theinformation and feedback
              we receive from you.
            </p>
            <p>
              <strong>To improve customer service</strong> -your information
              helps us more effectively to respond to your customer service
              requests and support needs.
            </p>
            <p>
              <strong>To process transactions</strong>- your information is used
              for the express purpose of delivering the purchased product or
              service to which you subscribe or have purchased.
            </p>
            <p>
              Whether public or private, your information will not be sold,
              exchanged, transferred, or given to any other company for any
              reason whatsoever, without your consent, other than as set out
              below.
            </p>
            <p><strong>Personal Data</strong></p>
            <p>
              We may ask for personal data while you’re engaging with us. This
              includes but is not limited to email address, first and last name,
              phone number, personal address, cookies and usage data, and
              insurance information.
            </p>
            <p>
              We may use your personal data to contact you regarding your
              registration, promotional materials or other information of
              interest to you. You may opt out of receiving any, or all, of
              these communications from us by following the unsubscribe link
              provided on our website or in any email we send or by contacting
              us at email address <a
                href='https://navix.webflow.io/privacy-policy#'
                >support@navixhealth.com</a
              > .
            </p>
            <h3 class='pp-heading-3'>How do we protect your information?</h3>
            <p>
              We implement a variety of security measures to maintain the safety
              of your personal information when you enter, submit, or access
              your personal information.
            </p>
            <p>
              We offer the use of a secure server. All supplied sensitive/credit
              information is transmitted via Secure Socket Layer (SSL)
              technology and then encrypted into our database to be accessed
              only by those authorized with special access rights to our systems
              who are required to keep the information confidential.
            </p>
            <p>
              After a transaction, your private information including credit
              card details, social security numbers,financials information, and
              similar information will not be stored on our servers.
            </p>
            <h3 class='pp-heading-3'>Do we use cookies?</h3>
            <p>
              Yes, we use cookies. Cookies are small files that a site or its
              service provider transfers to your computer’s hard drive through
              your web browser provided that you otherwise do not expressly
              denyor limit the use of such cookies. Cookies enable web sites and
              service providers’ systems to recognize your browser and capture
              and remember relevant specific information that assist in logging
              into thesite, browsing preferences, user behavior and other web
              site use.
            </p>
            <p>
              We use cookies to understand and save your preferences for future
              visits and compile aggregate data about site traffic and site
              interaction so that we can improve our site experiences and web
              tools in the future. We may contract with third-party service
              providers to assist us in better understanding our site visitors.
              These service providers are not permitted to use the information
              collected for their own purposes but only on our behalf to help us
              conduct and improve our products and services.
            </p>
            <h3 class='pp-heading-3'>
              Do we disclose any information to outside parties?
            </h3>
            <p>
              We do not sell, trade, or otherwise transfer to outside parties
              your personally identifiable information. This does not include
              trusted third parties who assist us in operating our
              website,operating our business, or servicing you, so long as those
              parties agree to keep this information confidential. We may
              release your information when release is required to comply with
              the law, to enforce our site policies, or protect our or others’
              rights, property, or safety. However, non-personally identifiable
              visitor information also may be provided to other parties for
              marketing,advertising, or other uses.
            </p>
            <h3 class='pp-heading-3'>6. Third-party links</h3>
            <p>
              Occasionally, at our discretion, we may include or offer third
              party products or services on our website. These third-party sites
              have separate and independent privacy policies. We, therefore,
              have no responsibility or liability for the content and activities
              of these linked sites. Nonetheless, we seek to protect the
              integrity of our site and welcome any feedback about these sites.
            </p>
            <h3 class='pp-heading-3'>
              Children&#x27;s online privacy protection act compliance
            </h3>
            <p>
              We comply with the requirements of COPPA (Children’s Online
              Privacy Protection Act), we do not collect any information from
              anyone under 13 years of age. Our website, products, and services
              are all directed to those who are at least 13 years old or older.
            </p>
            <h3 class='pp-heading-3'>Online privacy policy only</h3>
            <p>
              This online Privacy Policy applies only to information collected
              through our website and not to information collected offline.
            </p>
            <h3 class='pp-heading-3'>Disclaimer and limitation of liability</h3>
            <p>
              We make no representations, warranties, or assurances as to the
              accuracy, currency or completeness of the content contained on
              this website or any sites linked to this site.
            </p>
            <p>
              All the materials on this site are provided &quot;as is&quot;
              without any express or implied warranty of any kind, including
              warranties of merchantability, non-infringement of intellectual
              property or fitness for any particular purpose. In no event shall
              we or our agents or associates be liable for any damages
              whatsoever (including, without limitation, damages for loss of
              profits, business interruption, loss of information, injury or
              death) arising out of the use of or inability to use the
              materials, even if has been advised of the possibility of such
              loss or damages.
            </p>
            <h3 class='pp-heading-3'>Your consent</h3>
            <p>By using our site, you consent to our Privacy Policy.</p>
            <p>
              If we decide to change our Privacy Policy, we will notify you and
              update these changes on this website page.
            </p>
            <h3 class='pp-heading-3'>Notice of health information practices</h3>
            <p>
              THIS NOTICE DESCRIBES HOW INFORMATION ABOUT YOUR CLIENTS AND
              PATIENTS MAY BE USED AND DISCLOSED AND HOW YOU CAN GET ACCESS TO
              THIS INFORMATION. PLEASE REVIEW IT CAREFULLY. (EFFECTIVE JUNE 1,
              2023)
            </p>
            <h3 class='pp-heading-3'>
              Understanding health records and health informations
            </h3>
            <p>
              Your clients’ and patients’ medical records contain information
              about health history, symptoms,examination and test results,
              diagnoses, treatment, and plans for future care or treatment. This
              information serves as a:
            </p>
            <ul role='list'>
              <li>
                basis for planning care and treatment of your clients and
                patients;
              </li>
              <li>
                means of communication among the many health professionals who
                contribute to your clients’and patients’ care;
              </li>
              <li>legal document describing the care received;</li>
              <li>
                means by which you or a third-party can verify that services
                billed were actually provided;
              </li>
              <li>a tool in educating health professionals;</li>
              <li>a source of data for medical research;</li>
              <li>
                a source of information for public health officials charged with
                improving the health of the nation;
              </li>
              <li>a source of data for facility planning and marketing; and</li>
              <li>
                a tool with which we can assess and continually work to improve
                the care you render and the outcomes you seek to achieve for
                your clients and patients.
              </li>
            </ul>
            <h3 class='pp-heading-3'>
              Understanding what is in the health records you store with us and
              how that health information issued to help you.
            </h3>
            <p>We work with you to:</p>
            <ul role='list'>
              <li>ensure the accuracy the health records;</li>
              <li>
                better understand who, what, when, where and why others may
                access the health information;and
              </li>
              <li>
                make more informed and optimal decisions when authorizing
                disclosure to others.
              </li>
            </ul>
            <h3 class='pp-heading-3'>Health information rights</h3>
            <p>
              The health records are the property of your clients and patients,
              who together with you as a healthcare practitioner or as the
              treatment facility that has compiled that information. Your client
              orpatient has the right to:
            </p>
            <ul role='list'>
              <li>
                obtain a paper copy of the notice of information practices upon
                request;
              </li>
              <li>
                inspect and obtain a paper or electronic copy the health records
                as provided for in45 CFR 164.524;
              </li>
              <li>amend the health records as provided in 45 CFR 164.528;</li>
              <li>
                obtain an accounting of disclosures of the health information as
                provided in45 CFR 164.528;
              </li>
              <li>
                request communications of the health information by alternative
                means or at alternativelocations; and
              </li>
              <li>
                revoke your authorization to use or disclose the health
                information except to the extent that action has already been
                taken.
              </li>
            </ul>
            <h3 class='pp-heading-3'>Our responsibilities</h3>
            <p>We are required to:</p>
            <ul role='list'>
              <li>maintain the privacy of the health information;</li>
              <li>
                provide you with a notice as to our legal duties and privacy
                practices with respect to the information we collect and
                maintain;
              </li>
              <li>abide by the terms of this Privacy Policy;</li>
              <li>
                notify you if we are unable to agree to a requested restriction;
              </li>
              <li>
                accommodate reasonable requests you, on behalf of your clients
                or patients may have to communicate personal health information
                by alternative means or at alternative locations; and
              </li>
              <li>
                notify you and the Department of Health and Human Services if it
                is determined through a risk analysis that a breach of the
                health information occurred;
              </li>
            </ul>
            <p>
              We reserve the right to change our practices and to make the new
              provisions effective for all protected health information we
              maintain on your behalf. Should our information practices
              change,we are required to notify you of the modified version of
              our Privacy Policy and also to notify new users and subscribers on
              or after the date of modification.
            </p>
            <p>
              We will not use or disclose the health information without your
              authorization, except as described inthis Privacy Policy.
            </p>
            <h3 class='pp-heading-3'>
              California consumer privacy act of 2018 (CCPA) and proposition 24,
              the California privacy right act (CPRA)
            </h3>
            <p>
              Our business complies with CCPA and CPRA. These laws provide
              updated privacy rights for California consumers, which give them
              the right to know about the personal information that is collected
              about them and how it is used and shared, the right to delete
              personal information collected (with some exceptions), the right
              to opt-out of the sale or sharing of personal information, and the
              right to non-discrimination for exercising their CCPA rights.
              Additionally, as of January 1, 2023, there are new rights such as
              the right to correct inaccurate personal information and the right
              to limit the use and disclosure of sensitive personal information
              collected. As a business subject to the CCPA, we take our
              responsibilities seriously, including responding to requests to
              exercise your rights and providing youwith certain notices
              explaining our privacy practices.
            </p>
            <p>
              Federal law makes provision for health information to be released
              to an appropriate health oversight agency, public health authority
              or attorney, provided that a workforce member or business
              associate believes in good faith that we have engaged in unlawful
              conduct or otherwise professional or clinical standards have been
              violated and are potentially endangering you or your clients and
              patients, workers or the public. In this case, a court order is
              required per 42 CFR, Chapter 1, Part 2.
            </p>
            <h3 class='pp-heading-3'>
              We reserve the right to change the terms of this privacy policy
              and make a new provision effective for all protected health
              information that we maintain. Revision of this privacy policy will
              be posted on our website.
            </h3>
            <p>
              Reference: Health Insurance Portability and Accountability Act (45
              CFR Part 160-164) HIPAA Privacy Rule – Standards for Privacy of
              Individually Identifiable Health Information Adapted from the
              American Health Information Management Association Practice Brief,
              “Notice of InformationPractices” (Updated November 2002); and 42
            </p>
            <h3 class='pp-heading-3'>
              Contacting us for more information or to report a problem
            </h3>
            <p>
              If you believe you or your clients’ or patients’ privacy rights
              have been violated, you can file acomplaint with the Department of
              Health and Human Services or Office for Civil Rights by email at
              ocrcomplaint@hhs.gov or by calling the national Office at
              202-205-8725 and asking for the OCRHealth Information Privacy
              Complaint Form and / or for the appropriate Regional OCR Office.
              There will be no retort from us for filing a complaint.
            </p>
            <p>
              If you have questions and would like additional information, you
              may contact us <a href='http://support@navixhealth.com'
                >support@navixhealth.com .</a
              >
            </p>
            <h3 class='pp-heading-3'>
              Example of disclosure for for treatment, payment and health
              operation
            </h3>
            <p>
              Use of health information for client or patient treatment. For
              example: Information obtained by a counselor, physician, nurse or
              other member of your treatment care team that is input into your
              treatment facility records and used to assist in determining the
              course of treatment that should work best for your clients and
              patients.
            </p>
            <p>
              With your consent, we also provide an individual such as a
              physician or an entity such as a healthcare provider with copies
              of diagnosis, various reports, assessments, and summaries,
              including psychotherapy notes where appropriate, that should
              assist them in treating your clients and patients once they are
              discharged from your treatment programs. Without your consent, we
              will not use or disclose the health information for marketing
              purposes, and we will not sell that health information.Other uses
              and disclosures not described in this Privacy Policy will only be
              made with your consent.
            </p>
            <p>
              With your consent, we will use the health information for payment
              of our products and services. For example: A bill may be sent to
              you or a third-party payer. The information on or accompanying the
              bill may include information that identifies you, your client or
              patient, as well as diagnosis and descriptions of treatment
              methods and procedures used. You have the right to restrict
              certain disclosures of the health information to a health plan
              when payment is made out of pocket in full for the healthcare item
              or services.
            </p>
            <p>
              We will use the health information for regular, internal health
              operations. For example: members of the treatment staff, the
              utilization review coordinator, the quality improvement manager,
              or members of the quality improvement team may use information in
              the health records to assess the care and outcomes in case set out
              in your health records and others like it. This information will
              then be used to continually improve the quality and effectiveness
              of the products and services we provide.
            </p>
            <h3 class='pp-heading-3'>Other uses or disclosures</h3>
            <p>
              <strong>(a) Business Associates:</strong> There are some services
              we provide through contacts with business associates. Examples
              include care by external physicians (in the event urgent or
              emergency care is needed),pharmacy services (filling
              prescriptions), and laboratory tests. When these services are
              contracted, we may disclose the health information to our business
              associate so that they can perform the task we’ve requested and
              bill for services rendered. So that the health information is
              protected, however, both we and the Department of Health and Human
              Services require business associates and their subcontractors to
              appropriately safeguard the health information.
            </p>
            <p>
              <strong>(b) Notification:</strong> With prior consent, we may use
              or disclose personal information to notify or assist in notifying
              a family member, personal representative, or another person that
              your clients and patients designate as responsible for their
              continued care, their location, and general condition in the event
              ofan emergency or crisis.
            </p>
            <p>
              <strong>(c) Communication with Family:</strong> With the consent
              of your client and patient, your facility’s treatment personnel,
              using their best judgment, may disclose to a family member, other
              relative, close personal friend or other significant person that
              your clients or patients identify, their personal health
              information that is relevant to that person’s involvement in their
              care or for payment needs related to their care. If, and to the
              extent, permitted or required by an applicable provision of State
              or other law, including applicable case law, your treatment
              representative may disclose and provide access to protected health
              information about the un-emancipated minor to the parent or legal
              guardian, oranother person acting in loco parentis.
            </p>
            <p>
              <strong>(d) Research:</strong> With your consent, we may disclose
              information to researchers when their research has been approved
              by an Institutional Review Board, which has reviewed the research
              proposal and has established specific protocols to ensure the
              confidentiality of the health information.
            </p>
            <p>
              <strong>(e) Continuing Care and/or Marketing:</strong> With your
              prior consent, we may contact you to provide information about
              continuing care for your clients and patients or other related
              benefits and servicesthat may be of interest to you.
            </p>
            <p>
              <strong>(f) Food and Drug Administration (FDA):</strong> We may
              disclose to the FDA health information relative to adverse events
              with respect to food, supplements, product and product defects or
              other information to enable the FDA to notify patients and
              physicians about emerging dangers.
            </p>
            <p>
              <strong>(g) Disability Insurance and Workers Compensation:</strong
              > With your consent, we may disclose the minimum health
              information needed to the extent authorized by and to the extent
              necessary to comply with laws relating to disability and workers
              compensation or other similar programs established by law.
            </p>
            <p>
              <strong>(h) Public Health:</strong>With your consent and if
              required by law, we may disclose the minimum necessary health
              information to public health or legal authorities charged with
              preventing or controlling disease, injury or disability.
            </p>
            <p>
              <strong>(i) Law Enforcement:</strong> We may disclose health
              information for law enforcement per 42 CFR: Chapter 1,Part 2 (see
              Notice of “Confidentiality of Alcohol and Drug Abuse Patient
              Records”)
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
