<main class="main-wrapper">
  <section class="section-prof-hero">
    <div class="padding-global padding-section-medium cc-prof">
      <div class="w-layout-blockcontainer container w-container">
        <div class="prof-hero-wrapper">
          <div class="prof-head-block">
            <h1 data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="prof-head"><span class="text-span-3">A Seamless </span>Software</h1>
            <h2 data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="heading-style-h2 cc-prof">Support your private practice and, therefore, your life</h2>
          </div>
          <div class="abt-para-block">
            <p data-aos-delay="600" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-size-small">Navix Hub™ simplifies therapy practices with its EMR, CRM, and Email Suite. It offers a client portal and mobile app (Q2), AI note-taking, and telehealth (Q3). Designed for simplicity, a billing software is expected in Q4, allowing therapists to focus on client care.</p>
          </div>
        </div>
        <div data-aos-delay="800" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="prof-img-block">
          <div class="overlay cc-1"></div>
          <div class="overlay"></div><img src="images/Rectangle-44.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, (max-width: 1454px) 88vw, 1280px" srcset="images/Rectangle-44-p-500.png 500w, images/Rectangle-44-p-800.png 800w, images/Rectangle-44-p-1080.png 1080w, images/Rectangle-44.png 1280w" alt="Image of two profeesionals desicussing." class="software-img">
          <div class="demo-block"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-integrate">
    <div class="padding-global padding-section-medium c-integrate">
      <div class="w-layout-blockcontainer container cc-container-small w-container">
        <div class="integrate-wrapper">
          <div class="integrate-block">
            <h2 data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="text-medium cc-left"><span class="experience-text">Experience all</span><br>Integrated Simplicity</h2>
            <p data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-size-small">Enhance your practice management effortlessly with our integrated CRM. Stay connected with clients and colleagues, track patient sources for informed marketing decisions, and simplify networking by eliminating the need for multiple logins and business card tracking.</p>
          </div>
          <div data-aos-delay="100" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="heart-embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
              <path d="M27.5 21.3437L22.1307 15.972C20.6983 14.5885 18.7799 13.8229 16.7885 13.8401C14.7972 13.8574 12.8923 14.6561 11.4842 16.0642C10.076 17.4724 9.27731 19.3773 9.26005 21.3686C9.2428 23.36 10.0084 25.2784 11.3919 26.7107L16.7613 32.0824M16.7613 32.0824L27.5 42.8212L43.6105 26.7107C44.9937 25.2781 45.7589 23.3595 45.7412 21.3682C45.7235 19.3768 44.9244 17.4721 43.5159 16.0643C42.1075 14.6564 40.2024 13.8581 38.2111 13.8413C36.2197 13.8244 34.3015 14.5904 32.8694 15.9743L16.7613 32.0824Z" stroke="#C2996C" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></div>
        </div>
      </div>
    </div>
    <div class="padding-global padding-section-medium cc-pc">
      <div class="w-layout-blockcontainer container cc-pc w-container">
        <div data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="img-wrap">
          <div class="logo-embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
              <g clip-path="url(#clip0_612_1598)">
                <path d="M6.375 25.5H14.875L21.25 42.5L29.75 8.5L36.125 25.5H44.625" stroke="#A28292" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
              <defs>
                <clippath id="clip0_612_1598">
                  <rect width="51" height="51" fill="white"></rect>
                </clippath>
              </defs>
            </svg></div><img src="images/Mac-Studio.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, (max-width: 1298px) 79vw, 1026px" srcset="images/Mac-Studio-p-500.png 500w, images/Mac-Studio-p-800.png 800w, images/Mac-Studio.png 1026w" alt="Navix Health EMR screenshot"><img src="images/Screenshot-2023-08-30-at-1.45-1-4.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 83vw" srcset="images/Screenshot-2023-08-30-at-1.45-1-4-p-500.png 500w, images/Screenshot-2023-08-30-at-1.45-1-4-p-800.png 800w, images/Screenshot-2023-08-30-at-1.45-1-4-p-1080.png 1080w, images/Screenshot-2023-08-30-at-1.45-1-4-p-1600.png 1600w, images/Screenshot-2023-08-30-at-1.45-1-4-p-2000.png 2000w, images/Screenshot-2023-08-30-at-1.45-1-4-p-2600.png 2600w, images/Screenshot-2023-08-30-at-1.45-1-4-p-3200.png 3200w, images/Screenshot-2023-08-30-at-1.45-1-4.png 3567w" alt="Scrrenshot of EMR client portal." class="simplicity-img">
        </div>
      </div>
    </div>
  </section>
  <section class="section-secure">
    <div class="html-embed-9 w-embed">
      <style>
.section-secure{
-webkit-clip-path: polygon(100% 0, 100% 0, 100% 99%, 0 100%, 0 18%);
clip-path: polygon(102vw 0, 100% 0, 100% 100%, 0 100%, 0 16vw);
}
@media screen and (max-width: 1100px) and (min-width: 991px) {
.trial-wrapper{
gap : 50px;
}
}
</style>
    </div>
    <div class="padding-global padding-section-medium cc-secure">
      <div class="secure-wrap">
        <div class="secure-block">
          <h2 data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="text-large cc-color">Simple, Seamless, Secure.</h2>
          <p data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-size-small">Effortlessly streamline communication and scheduling with paperless intake forms and a user-friendly messaging system (Q2). The scheduling calendar empowers clients to book appointments easily. Experience seamless, secure telehealth (Q3/Q4) via Navix Hub Client Portal, ensuring a high standard of privacy for your clients with Navix Health.</p>
          <a data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" href="https://calendly.com/d/yk9-xfc-stg/navix-demo" target='_blank' rel="noopener" class="demo-btn w-inline-block">
            <div class="play-embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                <g clip-path="url(#clip0_612_1685)">
                  <path d="M10.6398 6.50031L4.09436 2.00031V11.0003L10.6398 6.50031Z" fill="#374651"></path>
                </g>
                <defs>
                  <clippath id="clip0_612_1685">
                    <rect width="11.5385" height="11.5385" fill="white" transform="translate(0.730713 0.730774)"></rect>
                  </clippath>
                </defs>
              </svg></div>
            <div class="demo-text">Schedule a Demo</div>
          </a>
        </div>
      </div><img src="images/Group_1000000812-removebg-preview.png" loading="lazy" alt="Globe" class="world-img">
    </div>
  </section>
  <section class="section-trial">
    <div class="padding-global padding-section-medium cc-trial">
      <div class="w-layout-blockcontainer container w-container">
        <div class="health-wrapper">
          <div class="health-block">
            <div data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="phone-embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
                <g clip-path="url(#clip0_612_2476)">
                  <path d="M34.5 63H24C22.4087 63 20.8826 62.3679 19.7574 61.2426C18.6321 60.1174 18 58.5913 18 57V15C18 13.4087 18.6321 11.8826 19.7574 10.7574C20.8826 9.63214 22.4087 9 24 9H48C49.5913 9 51.1174 9.63214 52.2426 10.7574C53.3679 11.8826 54 13.4087 54 15V33" stroke="#374651" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M33 12H39" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M54.0004 66.0008L64.0504 56.1488C64.6667 55.5508 65.1569 54.8353 65.4921 54.0447C65.8274 53.254 66.0008 52.4043 66.0022 51.5455C66.0036 50.6867 65.8329 49.8364 65.5003 49.0446C65.1676 48.2529 64.6797 47.5359 64.0654 46.9358C62.8118 45.7098 61.129 45.0219 59.3755 45.0185C57.6221 45.0151 55.9366 45.6967 54.6784 46.9178L54.0064 47.5778L53.3374 46.9178C52.0839 45.6927 50.4017 45.0053 48.649 45.002C46.8963 44.9986 45.2115 45.6796 43.9534 46.8998C43.3369 47.4977 42.8464 48.213 42.5109 49.0035C42.1754 49.794 42.0017 50.6438 42 51.5025C41.9983 52.3613 42.1687 53.2117 42.5011 54.0035C42.8335 54.7954 43.3212 55.5126 43.9354 56.1128L54.0004 66.0008Z" fill="url(#paint0_linear_612_2476)"></path>
                </g>
                <defs>
                  <lineargradient id="paint0_linear_612_2476" x1="41.6521" y1="66.0008" x2="66.0022" y2="66.0008" gradientunits="userSpaceOnUse">
                    <stop stop-color="#A28292"></stop>
                    <stop offset="1" stop-color="#C2996C"></stop>
                  </lineargradient>
                  <clippath id="clip0_612_2476">
                    <rect width="72" height="72" fill="white"></rect>
                  </clippath>
                </defs>
              </svg></div>
            <h2 data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-medium">Navix Health&#x27;s</h2>
            <div data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="experience-text cc-margin">Mobile app</div>
            <p data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-size-small">Elevate your documentation with NavixAI. Personalize Navix Hub using our template builder for tailored notes. AI simplifies DAP and SOAP note creation, including standard assessments like BPS and Beck Depression Inventory.</p>
            <div data-aos-delay="500" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="divider"></div>
            <div data-aos-delay="600" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="list-wrap">
              <div class="list-block">
                <div class="correct-sign w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                    <g clip-path="url(#clip0_612_2452)">
                      <path d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z" fill="#9DB7B0"></path>
                      <path d="M12.75 16.9993L15.5833 19.8327L21.25 14.166" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg></div>
                <div class="health-text">Quickly and easily check your calendar</div>
              </div>
              <div class="list-block">
                <div class="correct-sign w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                    <g clip-path="url(#clip0_612_2452)">
                      <path d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z" fill="#9DB7B0"></path>
                      <path d="M12.75 16.9993L15.5833 19.8327L21.25 14.166" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg></div>
                <div class="health-text">Stay organized and productive</div>
              </div>
              <div class="list-block">
                <div class="correct-sign w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                    <g clip-path="url(#clip0_612_2452)">
                      <path d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z" fill="#9DB7B0"></path>
                      <path d="M12.75 16.9993L15.5833 19.8327L21.25 14.166" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg></div>
                <div class="health-text">Manage your practice efficiently</div>
              </div>
              <div class="list-block">
                <div class="correct-sign w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                    <g clip-path="url(#clip0_612_2452)">
                      <path d="M4.25 17C4.25 18.6744 4.57979 20.3323 5.22054 21.8792C5.86128 23.4261 6.80044 24.8317 7.98439 26.0156C9.16833 27.1996 10.5739 28.1387 12.1208 28.7795C13.6677 29.4202 15.3256 29.75 17 29.75C18.6744 29.75 20.3323 29.4202 21.8792 28.7795C23.4261 28.1387 24.8317 27.1996 26.0156 26.0156C27.1996 24.8317 28.1387 23.4261 28.7795 21.8792C29.4202 20.3323 29.75 18.6744 29.75 17C29.75 15.3256 29.4202 13.6677 28.7795 12.1208C28.1387 10.5739 27.1996 9.16834 26.0156 7.98439C24.8317 6.80044 23.4261 5.86128 21.8792 5.22054C20.3323 4.57979 18.6744 4.25 17 4.25C15.3256 4.25 13.6677 4.57979 12.1208 5.22054C10.5739 5.86128 9.16833 6.80044 7.98439 7.98439C6.80044 9.16834 5.86128 10.5739 5.22054 12.1208C4.57979 13.6677 4.25 15.3256 4.25 17Z" fill="#9DB7B0"></path>
                      <path d="M12.75 16.9993L15.5833 19.8327L21.25 14.166" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_612_2452">
                        <rect width="34" height="34" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg></div>
                <div class="health-text">Finish session notes while out and about</div>
              </div>
            </div>
          </div>
          <div data-aos-delay="600" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="health-img-block">
            <div class="logo-health w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                <g clip-path="url(#clip0_612_1598)">
                  <path d="M6.375 25.5H14.875L21.25 42.5L29.75 8.5L36.125 25.5H44.625" stroke="#A28292" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                  <clippath id="clip0_612_1598">
                    <rect width="51" height="51" fill="white"></rect>
                  </clippath>
                </defs>
              </svg></div><img src="images/Group-1000000878.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 62vw, (max-width: 991px) 59vw, 23vw" srcset="images/Group-1000000878-p-500.png 500w, images/Group-1000000878.png 726w" alt="Navix Health mobile app" class="ph-img">
            <div class="doctor-logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                <path d="M16.2217 16.7225V12.7225C16.2217 11.6617 16.6431 10.6443 17.3933 9.89411C18.1434 9.14396 19.1608 8.72253 20.2217 8.72253H28.2217C29.2825 8.72253 30.3 9.14396 31.0501 9.89411C31.8003 10.6443 32.2217 11.6617 32.2217 12.7225V16.7225" stroke="#C2996C" stroke-width="2.96907" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M8.22168 20.7219C8.22168 19.6611 8.64311 18.6436 9.39325 17.8935C10.1434 17.1434 11.1608 16.7219 12.2217 16.7219H36.2217C37.2825 16.7219 38.3 17.1434 39.0501 17.8935C39.8003 18.6436 40.2217 19.6611 40.2217 20.7219V36.7219C40.2217 37.7828 39.8003 38.8002 39.0501 39.5504C38.3 40.3005 37.2825 40.7219 36.2217 40.7219H12.2217C11.1608 40.7219 10.1434 40.3005 9.39325 39.5504C8.64311 38.8002 8.22168 37.7828 8.22168 36.7219V20.7219Z" stroke="#C2996C" stroke-width="2.96907" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M20.2219 28.7222H28.2219" stroke="#C2996C" stroke-width="2.96907" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M24.2217 24.7225V32.7225" stroke="#C2996C" stroke-width="2.96907" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></div>
          </div>
        </div>
        <div class="comprehensive-wrapper">
          <div data-aos-delay="300" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="emr-img-block"><img src="images/attachment-1.png" loading="lazy" alt="A screenshot of Navix EMR." class="scribe-img"><img src="images/attachment-2.png" loading="lazy" alt="A graph example of a documents due." class="health-2 cc-absolute"><img src="images/attachment-1.png" loading="lazy" alt="A screenshot of Navix EMR." class="health-1 cc-static"></div>
          <div class="comprehensive-block">
            <div data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="phone-embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
                <g clip-path="url(#clip0_612_2437)">
                  <path d="M14.9999 15V63L23.9999 57L29.9999 63L35.9999 57L41.9999 63L47.9999 57L56.9999 63V15C56.9999 13.4087 56.3677 11.8826 55.2425 10.7574C54.1173 9.63214 52.5912 9 50.9999 9H20.9999C19.4086 9 17.8825 9.63214 16.7572 10.7574C15.632 11.8826 14.9999 13.4087 14.9999 15Z" stroke="#374651" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M15 63V15C15 13.4087 15.6321 11.8826 16.7574 10.7574C17.8826 9.63214 19.4087 9 21 9H51C52.5913 9 54.1174 9.63214 55.2426 10.7574C56.3679 11.8826 57 13.4087 57 15V63L48 57L42 63L36 57L30 63L24 57L15 63Z" stroke="#374651" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M27 45H33" stroke="#9CB6B0" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M27 33H45" stroke="#C2986C" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M27 21H45" stroke="#A18192" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                  <clippath id="clip0_612_2437">
                    <rect width="72" height="72" fill="white"></rect>
                  </clippath>
                </defs>
              </svg></div>
            <h2 data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="product-heading cc-left cc-font-size">Comprehensive<br></h2>
            <div data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="experience-text cc-margin-vertical">EMR</div>
            <p data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-size-regular">Our software simplifies the billing process by providing online payment options and the ability to auto-send invoices available in Q1 2024. If your practice accepts insurance, our software also allows you to check benefits and submit claims directly to insurance companies.</p>
          </div>
          <div class="html-embed-10 w-embed">
            <style>
.comp-img-1, .comp-img-2, .comp-img-3{
filter: drop-shadow(26.46983px 52.93965px 26.46983px rgba(0, 0, 0, 0.08));
}
</style>
            <style>
@media only screen and (min-width: 991px) {
.product-heading.cc-left.cc-font-size{
font-size : clamp(4rem, 6.8vw, 5rem);
}
</style>
            <style>
@media screen and (max-width: 3000px) and (min-width: 2100px) {
.health-2{
  right: -8.8vw !important;
}
}
</style>
          </div>
        </div>
        <div data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="trial-wrapper"><img src="images/iPhone-13.png" loading="lazy" alt="Navix health mobile app on iphone." class="phone-img">
          <div class="trial-block">
            <div class="w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                <path d="M52.189 22.5056L40.0575 1.29669L27.926 22.5056L40.0575 15.5491L52.189 22.5056Z" fill="#A18192"></path>
                <path d="M27.926 57.6276L40.0575 78.8365L52.189 57.6276L40.0575 64.5841L27.926 57.6276Z" fill="#9CB6B0"></path>
                <path d="M22.4966 27.9351L1.28772 40.0666L22.4966 52.1981L15.5401 40.0666L22.4966 27.9351Z" fill="#374651"></path>
                <path d="M57.6185 27.9351L64.575 40.0666L57.6185 52.1981L78.9123 40.0666L57.6185 27.9351Z" fill="#C2986C"></path>
              </svg></div>
            <h2 class="free-trial-head">S<span class="text-span-5">tart Your</span> <span class="text-span-6">free</span><br><span class="text-span-4">14 days</span> <span class="text-span-7">trial now</span></h2>
            <a href="https://buy.stripe.com/4gwdTN4OYaco4b65kp" target="_blank" rel="noopener" class="start-btn cc-align w-button">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-trial">
    <div class="padding-global padding-section-medium cc-connection">
      <div class="w-layout-blockcontainer container cc-build w-container">
        <div class="comprehensive-wrapper cc-mt">
          <div class="comprehensive-block">
            <div data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="phone-embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
                <g clip-path="url(#clip0_1217_4012)">
                  <path d="M36 9L36 63" stroke="#A18192" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M15 39H45" stroke="#C2986C" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M36.0021 8.99902C24.4041 8.99902 15.0021 18.815 15.0021 29.999V59.999C15.0021 60.7947 15.3181 61.5577 15.8808 62.1203C16.4434 62.683 17.2064 62.999 18.0021 62.999H54.0021C54.7977 62.999 55.5608 62.683 56.1234 62.1203C56.686 61.5577 57.0021 60.7947 57.0021 59.999V29.999C57.0021 18.815 47.6001 8.99902 36.0021 8.99902Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
                <defs>
                  <clippath id="clip0_1217_4012">
                    <rect width="72" height="72" fill="white" transform="translate(0 -0.000976562)"></rect>
                  </clippath>
                </defs>
              </svg></div>
            <h2 data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-medium">Connection</h2>
            <div data-aos-delay="300" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="experience-text cc-margin-vertical">Client Portal</div>
            <p data-aos-delay="500" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-size-regular">Our software simplifies the billing process by providing online payment options and the ability to auto-send invoices available in Q1 2024. If your practice accepts insurance, our software also allows you to check benefits and submit claims directly to insurance companies.</p>
          </div>
          <div class="comp-img-block"><img data-aos="fade-up" class="comp-img-1" src="images/Group-1000000911.png" alt="A screenshot of a client portal." sizes="100vw" data-aos-delay="400" loading="lazy" data-aos-offset="60" srcset="images/Group-1000000911-p-500.png 500w, images/Group-1000000911-p-800.png 800w, images/Group-1000000911.png 955w" data-aos-duration="1200"></div>
          <div class="html-embed-10 w-embed">
            <style>
.comp-img-1, .comp-img-2, .comp-img-3{
filter: drop-shadow(26.46983px 52.93965px 26.46983px rgba(0, 0, 0, 0.08)) !important;
}
</style>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-pricing">
    <div class="padding-global padding-section-medium cc-pricing">
      <div class="w-layout-blockcontainer container w-container">
        <div class="pricing-wrapper">
          <div class="pricing-head-wrap">
            <div data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="experience-text cc-color">Simple and</div>
            <h2 data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="text-medium cc-shadow">T<span class="text-span-8">ransparent pricing</span></h2>
          </div>
          <div class="pricing-wrap">
            <div data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="navix-block">
              <h2 class="pricing-text">Do more with <span class="text-span-9">Navix</span></h2>
              <p class="pricing-para">Enjoy a seamless software experience without any surprises or extra costs.</p>
              <a href="https://buy.stripe.com/4gwdTN4OYaco4b65kp" target="_blank" rel="noopener" class="pricing-btn w-button">Get started</a>
              <div class="phone-img-block"><img src="images/iPhone-14.png" loading="lazy" alt="Iphone showcasing Navix&#x27;s logo." class="navix-img"><img src="images/Ellipse-31.png" loading="lazy" sizes="100vw" srcset="images/Ellipse-31-p-500.png 500w, images/Ellipse-31.png 737w" alt="white shadow" class="ellipse-shadow"></div>
            </div>
            <div data-aos-delay="600" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="pricing-block">
              <h2 class="pricing-text">Introductory <span class="text-span-9">Pricing</span></h2>
              <p class="pricing-para cc-max">Limited time offer, introductory rate for new users is locked in for as long as you use Navix software. Get started with a risk-free 14-day trial.</p>
              <div class="block-line"></div>
              <div class="include-text">WHAT’S INCLUDED?</div>
              <div class="price-list-wrapper">
                <div class="pricing-list-wrap">
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">Unlimited clients</div>
                  </div>
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">CRM</div>
                  </div>
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">EMR</div>
                  </div>
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">Email marketing tool</div>
                  </div>
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">Client portal</div>
                  </div>
                </div>
                <div class="pricing-list-wrap">
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">Unlimited templates</div>
                  </div>
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">Customer support</div>
                  </div>
                  <div class="pricing-list-block">
                    <div class="html-embed-11 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <circle cx="6" cy="6" r="6" fill="url(#paint0_linear_615_6065)"></circle>
                        <defs>
                          <lineargradient id="paint0_linear_615_6065" x1="-0.173913" y1="12" x2="12" y2="12" gradientunits="userSpaceOnUse">
                            <stop stop-color="#A28292"></stop>
                            <stop offset="1" stop-color="#C2996C"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="pricing-lisr-text">Customizable notes and assessments</div>
                  </div>
                </div>
              </div>
              <div class="price-wrap">
                <div class="price-block cc-vertical">
                  <div class="price-value"><span class="text-span-10">$45.99</span> /Month</div>
                  <div class="price-text">Per professional</div>
                </div>
                <a href="https://buy.stripe.com/4gwdTN4OYaco4b65kp" target="_blank" rel="noopener" class="enroll-btn w-button">Enroll Now - 14 days</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="x-wrapper">
      <div class="html-embed-12 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="670" height="723" viewBox="0 0 670 723" fill="none">
          <path d="M1001.2 0H1069.29L600.213 511.197L1102.07 1067.72H970.932L532.122 584.225L88.2665 1067.72H22.6972L499.337 548.97L0 0H141.227L564.906 473.424L1001.2 0Z" fill="#9DB7B0"></path>
        </svg></div>
      <div class="html-embed-13 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="202" height="25" viewBox="0 0 202 25" fill="none">
          <path d="M0 24.5L41.5 0H180.5L201.5 24.5H0Z" fill="#70837E"></path>
        </svg></div>
    </div>
    <div class="color-wrap"></div>
  </section>
  <section class="section-testi">
    <div class="padding-global padding-section-medium cc-testi">
      <div class="w-layout-blockcontainer container w-container">
        <div class="testi-wrapper">
          <div class="testi-head-wrap">
            <h2 data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="text-medium cc-font-size">Testimonials</h2>
            <div data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="customer-text">Our valued customers.</div>
            <div data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="html-embed-14 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="107" height="97" viewBox="0 0 107 97" fill="none">
                <path opacity="0.1" d="M107 0.929754L104.242 20.444C98.6042 19.9437 94.1306 20.9444 90.8213 23.4462C87.512 25.823 85.2446 29.263 84.0189 33.7663C82.9158 38.1445 82.732 43.1481 83.4674 48.7772H107V97H61.5894V46.9009C61.5894 30.5139 65.3889 18.1298 72.988 9.74871C80.5871 1.24248 91.9244 -1.69717 107 0.929754ZM45.4106 0.929754L42.6529 20.444C37.0149 19.9437 32.5412 20.9444 29.232 23.4462C25.9227 25.823 23.6552 29.263 22.4296 33.7663C21.3265 38.1445 21.1426 43.1481 21.878 48.7772H45.4106V97H0V46.9009C0 30.5139 3.79954 18.1298 11.3986 9.74871C18.9977 1.24248 30.335 -1.69717 45.4106 0.929754Z" fill="#A28292"></path>
              </svg></div>
          </div>
          <div class="review-wrapper">
            <div data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="review-block">
              <div class="html-embed-15 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" viewBox="0 0 31 28" fill="none">
                  <path d="M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z" fill="#374651"></path>
                </svg></div>
              <div class="person-name">Jane Reed, LMFT</div>
              <p class="review-para">Navix Health has been a game-changer for my therapy practice. The all-in-one solution has simplified my workload, allowing me to focus on providing exceptional care to my clients. The client portal is beneficial, offering features like paperless intake forms, a scheduling calendar, and telehealth capabilities.</p><img src="images/Ellipse-16.png" loading="lazy" alt="Iamge of customer Jane Reed." class="review-img">
            </div>
            <div data-aos-delay="500" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="review-block cc-1">
              <div class="html-embed-15 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" viewBox="0 0 31 28" fill="none">
                  <path d="M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z" fill="#374651"></path>
                </svg></div>
              <div class="person-name">Katie Burns, LPC</div>
              <p class="review-para">Navix health has completely transformed the way I manage my therapy practice. The software&#x27;s CRM solution has made staying connected with clients and colleagues much more manageable, while the mobile app enables me to manage my practice on the go. I&#x27;m excited to see the billing software launching soon, further simplifying the billing process.</p><img src="images/Ellipse-17.png" loading="lazy" alt="Image of a customer Katie Burns." class="review-img">
            </div>
            <div data-aos-delay="600" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="review-block">
              <div class="html-embed-15 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" viewBox="0 0 31 28" fill="none">
                  <path d="M31 0.268383L30.201 5.90137C28.5676 5.75693 27.2715 6.0458 26.3127 6.76798C25.354 7.45405 24.697 8.44705 24.3419 9.74697C24.0223 11.0108 23.9691 12.4551 24.1821 14.08H31V28H17.8436V13.5384C17.8436 8.80813 18.9444 5.23335 21.146 2.81406C23.3477 0.358655 26.6323 -0.489905 31 0.268383ZM13.1564 0.268383L12.3574 5.90137C10.7239 5.75693 9.42784 6.0458 8.46907 6.76798C7.51031 7.45405 6.85338 8.44705 6.49828 9.74697C6.17869 11.0108 6.12543 12.4551 6.33849 14.08H13.1564V28H0V13.5384C0 8.80813 1.1008 5.23335 3.30241 2.81406C5.50401 0.358655 8.78866 -0.489905 13.1564 0.268383Z" fill="#374651"></path>
                </svg></div>
              <div class="person-name">Taylor Sawyer, LMFT</div>
              <p class="review-para">As a therapist, I value providing exceptional care to my clients. Navix Health has enabled me to do just that by streamlining my workload and simplifying my documentation process. The system&#x27;s customizable templates and AI note-taking capabilities have saved me countless hours, allowing me to focus on what matters most - my clients.</p><img src="images/Ellipse-18.png" loading="lazy" alt="Image of a customer Taylor Sawyer." class="review-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-challenge">
    <div class="padding-global padding-section-medium">
      <div class="w-layout-blockcontainer container w-container">
        <div class="challenge-wrapper">
          <div class="challenge-block">
            <h2 data-aos-offset="40" data-aos="fade-up" data-aos-duration="1200" class="experience-text cc-white">Strength<br><span class="text-large-2">Through challenges</span></h2>
            <a data-aos-delay="400" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" href="#https://buy.stripe.com/4gwdTN4OYaco4b65kp" target="_blank" rel="noopener" class="get-btn-2 w-button">Get started</a>
          </div>
          <div class="challenge-para-block">
            <p data-aos-delay="200" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40" class="challenge-para">We offer a comprehensive onboarding process, complete with various tutorials to help guide you through the setup process. Our software is designed with simplicity, making it easy to implement and use immediately. If you prefer a more personal touch, our support team is available 8:00am-5:00pm PST to answer any questions you may have</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>