<main class='main-wrapper'>
  <section class='section-video'>
    <div class='padding-global padding-section-medium cc-video'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='video-wrapper'>
          <h1 class='video-head'>Resources Library</h1>
          <div class='w-form'>
            <form
              id='email-form'
              name='email-form'
              data-name='Email Form'
              method='get'
              fs-cmsfilter-element='filters'
              class='form-3'
              data-wf-page-id='658fa07dd4ddcb4f4d6d7c8e'
              data-wf-element-id='d2412dae-252d-f17e-d356-910a69adaa0c'
            >
              <label class='all-wrap is-active w-radio'
                ><input
                  type='radio'
                  data-name='Radio'
                  id='radio'
                  name='radio'
                  class='w-form-formradioinput radio-button w-radio-input'
                  value='Radio'
                /><span
                  fs-cmsfilter-element='clear'
                  class='radio-button-label w-form-label'>All</span
                ></label
              >
              <div class='w-dyn-list'>
                <div role='list' class='collection-list-4 w-dyn-items'>
                  <div role='listitem' class='w-dyn-item'>
                    <label class='radio-field w-radio'
                      ><input
                        type='radio'
                        data-name='Radio 2'
                        id='radio-2'
                        name='radio'
                        class='w-form-formradioinput radio-button w-radio-input'
                        value='Radio'
                      /><span
                        fs-cmsfilter-active='is-active'
                        fs-cmsfilter-field='category'
                        class='radio-button-label w-form-label'></span></label
                    >
                  </div>
                </div>
                <div class='w-dyn-empty'>
                  <div>No items found.</div>
                </div>
              </div><input
                type='submit'
                data-wait='Please wait...'
                class='submit-button-4 w-button'
                value='Submit'
              />
            </form>
            <div class='w-form-done'>
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class='w-form-fail'>
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <div class='w-dyn-list'>
            <div
              fs-cmsfilter-element='list'
              role='list'
              class='collection-list-3 cc-product w-dyn-items'
            >
              <div role='listitem' class='collection-item-3 w-dyn-item'>
                <div class='w-dyn-bind-empty w-video w-embed'></div>
                <div fs-cmsfilter-field='category' class='category-name'></div>
                <h2 class='resource-heading'></h2>
              </div>
            </div>
            <div class='w-dyn-empty'>
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
