<main class='main-wrapper'>
  <section class='section-pricing-hero'>
    <div class='padding-global padding-section-medium cc-price'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='pricing-hero-wrapper'>
          <h1 class='price-hero-heading'>Sales Pricing Strategies - Comprehensive Guide</h1>
          <p class='text-size-small cc-plan'>
            Limited time offer, introductory rate for new users is locked in for
            as long as you use Navix software. <strong
              >Start your 14 day trial</strong
            >.
          </p>
        </div>
        <div
          data-current='Tab 5'
          data-easing='ease'
          data-duration-in='300'
          data-duration-out='100'
          class='tabs w-tabs'
        >
          <div class='tabs-menu w-tab-menu'>
            <a data-w-tab='Tab 1' class='tab-link w-inline-block w-tab-link'>
              <div class='html-embed-23 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='32'
                  height='32'
                  viewBox='0 0 32 32'
                  fill='none'
                >
                  <g clip-path='url(#clip0_771_6382)'>
                    <path
                      d='M4 12.0026C4 11.2954 4.28095 10.6171 4.78105 10.117C5.28115 9.61689 5.95942 9.33594 6.66667 9.33594H25.3333C26.0406 9.33594 26.7189 9.61689 27.219 10.117C27.719 10.6171 28 11.2954 28 12.0026V24.0026C28 24.7098 27.719 25.3881 27.219 25.8882C26.7189 26.3883 26.0406 26.6693 25.3333 26.6693H6.66667C5.95942 26.6693 5.28115 26.3883 4.78105 25.8882C4.28095 25.3881 4 24.7098 4 24.0026V12.0026Z'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M10.666 9.33333V6.66667C10.666 5.95942 10.947 5.28115 11.4471 4.78105C11.9472 4.28095 12.6254 4 13.3327 4H18.666C19.3733 4 20.0515 4.28095 20.5516 4.78105C21.0517 5.28115 21.3327 5.95942 21.3327 6.66667V9.33333'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M16 16V16.0138'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M4 17.3359C7.72211 19.2115 11.832 20.1885 16 20.1885C20.168 20.1885 24.2779 19.2115 28 17.3359'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_771_6382'>
                      <rect width='32' height='32' fill='white'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='pricing-head'>Professional Edition</div>
            </a>
            <a data-w-tab='Tab 4' class='tab-link w-inline-block w-tab-link'>
              <div class='html-embed-23 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='32'
                  height='32'
                  viewBox='0 0 32 32'
                  fill='none'
                >
                  <g opacity='0.6' clip-path='url(#clip0_771_6390)'>
                    <path
                      d='M4 9.33398C4 8.27312 4.42143 7.2557 5.17157 6.50556C5.92172 5.75541 6.93913 5.33398 8 5.33398H24C25.0609 5.33398 26.0783 5.75541 26.8284 6.50556C27.5786 7.2557 28 8.27312 28 9.33398V12.0007C28 13.0615 27.5786 14.0789 26.8284 14.8291C26.0783 15.5792 25.0609 16.0007 24 16.0007H8C6.93913 16.0007 5.92172 15.5792 5.17157 14.8291C4.42143 14.0789 4 13.0615 4 12.0007V9.33398Z'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M16 26.6667H8C6.93913 26.6667 5.92172 26.2452 5.17157 25.4951C4.42143 24.7449 4 23.7275 4 22.6667V20C4 18.9391 4.42143 17.9217 5.17157 17.1716C5.92172 16.4214 6.93913 16 8 16H22'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M21.332 24.0007C21.332 24.7079 21.613 25.3862 22.1131 25.8863C22.6132 26.3864 23.2915 26.6673 23.9987 26.6673C24.7059 26.6673 25.3842 26.3864 25.8843 25.8863C26.3844 25.3862 26.6654 24.7079 26.6654 24.0007C26.6654 23.2934 26.3844 22.6151 25.8843 22.115C25.3842 21.6149 24.7059 21.334 23.9987 21.334C23.2915 21.334 22.6132 21.6149 22.1131 22.115C21.613 22.6151 21.332 23.2934 21.332 24.0007Z'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M24 19.334V21.334'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M24 26.666V28.666'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M28.0425 21.666L26.3105 22.666'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M21.6923 25.334L19.959 26.334'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M19.959 21.666L21.6923 22.666'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M26.3105 25.334L28.0439 26.334'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M9.33203 10.666V10.6798'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M9.33203 21.334V21.3477'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_771_6390'>
                      <rect width='32' height='32' fill='white'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='pricing-head'>Facilities Edition</div>
            </a>
            <a
              data-w-tab='Tab 5'
              class='tab-link w-inline-block w-tab-link w--current'
            >
              <div class='html-embed-23 w-embed'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='33'
                  height='32'
                  viewBox='0 0 33 32'
                  fill='none'
                >
                  <g opacity='0.6' clip-path='url(#clip0_771_6405)'>
                    <path
                      d='M4.5 16C4.5 17.5759 4.81039 19.1363 5.41345 20.5922C6.0165 22.0481 6.90042 23.371 8.01472 24.4853C9.12902 25.5996 10.4519 26.4835 11.9078 27.0866C13.3637 27.6896 14.9241 28 16.5 28C18.0759 28 19.6363 27.6896 21.0922 27.0866C22.5481 26.4835 23.871 25.5996 24.9853 24.4853C26.0996 23.371 26.9835 22.0481 27.5866 20.5922C28.1896 19.1363 28.5 17.5759 28.5 16C28.5 14.4241 28.1896 12.8637 27.5866 11.4078C26.9835 9.95189 26.0996 8.62902 24.9853 7.51472C23.871 6.40042 22.5481 5.5165 21.0922 4.91345C19.6363 4.31039 18.0759 4 16.5 4C14.9241 4 13.3637 4.31039 11.9078 4.91345C10.4519 5.5165 9.12902 6.40042 8.01472 7.51472C6.90042 8.62902 6.0165 9.95189 5.41345 11.4078C4.81039 12.8637 4.5 14.4241 4.5 16Z'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M11.2832 13.1113L21.7172 18.8865'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                    <path
                      d='M11.349 19.0005L21.6536 12.9974'
                      stroke='currentcolor'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g>
                  <defs>
                    <clippath id='clip0_771_6405'>
                      <rect
                        width='32'
                        height='32'
                        fill='white'
                        transform='translate(0.5)'></rect>
                    </clippath>
                  </defs>
                </svg>
              </div>
              <div class='pricing-head'>NavixAI</div>
            </a>
          </div>
          <div class='tabs-content w-tab-content'>
            <div data-w-tab='Tab 1' class='w-tab-pane'>
              <div class='price-content-block'>
                <div class='pricing-block'>
                  <div class='price-block'>
                    <div class='price-value'>
                      <span class='text-span-10'>$00.0</span> /Free
                    </div>
                    <div class='price-text'>14 - Days</div>
                  </div>
                  <div class='pricing-text cc-size'>Absolutely Free</div>
                  <p class='pricing-para cc-pricing'>
                    Limited time offer, introductory rate for new users is
                    locked in for as long as you use Navix software. Get started
                    with a risk-free 14-day trial.
                  </p>
                  <div class='block-divider w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='609'
                      height='2'
                      viewBox='0 0 609 2'
                      fill='none'
                    >
                      <path
                        d='M0 1L609 1.00005'
                        stroke='url(#paint0_radial_615_6058)'></path>
                      <defs>
                        <radialgradient
                          id='paint0_radial_615_6058'
                          cx='0'
                          cy='0'
                          r='1'
                          gradientunits='userSpaceOnUse'
                          gradienttransform='translate(304.5 1.50003) rotate(90) scale(0.5 304.5)'
                        >
                          <stop stop-color='white'></stop>
                          <stop offset='1' stop-color='white' stop-opacity='0'
                          ></stop>
                        </radialgradient>
                      </defs>
                    </svg>
                  </div>
                  <div class='include-text'>WHAT’S INCLUDED?</div>
                  <div class='price-list-wrapper'>
                    <div class='pricing-list-wrap'>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Unlimited clients</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>CRM</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>EMR</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>
                          Email marketing tool
                        </div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Client portal</div>
                      </div>
                    </div>
                    <div class='pricing-list-wrap'>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Unlimited templates</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Customer support</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>
                          Customizable notes and assessments
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='price-wrap'>
                    <a
                      href='https://buy.stripe.com/4gwdTN4OYaco4b65kp'
                      target='_blank'
                      rel="noopener"
                      class='enroll-btn cc-width w-button'
                      >Enroll Now - 14 days</a
                    >
                  </div>
                </div>
                <div class='pricing-block'>
                  <div class='price-block'>
                    <div class='price-value'>
                      <span class='text-span-10'>$ 45.99</span>/Month
                    </div>
                    <div class='price-text'>Per professional</div>
                  </div>
                  <div class='pricing-text cc-size'>Introductory Pricing</div>
                  <p class='pricing-para cc-pricing'>
                    Limited time offer, introductory rate for new users is
                    locked in for as long as you use Navix software. Get started
                    with a risk-free 14-day trial.
                  </p>
                  <div class='block-divider w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='609'
                      height='2'
                      viewBox='0 0 609 2'
                      fill='none'
                    >
                      <path
                        d='M0 1L609 1.00005'
                        stroke='url(#paint0_radial_615_6058)'></path>
                      <defs>
                        <radialgradient
                          id='paint0_radial_615_6058'
                          cx='0'
                          cy='0'
                          r='1'
                          gradientunits='userSpaceOnUse'
                          gradienttransform='translate(304.5 1.50003) rotate(90) scale(0.5 304.5)'
                        >
                          <stop stop-color='white'></stop>
                          <stop offset='1' stop-color='white' stop-opacity='0'
                          ></stop>
                        </radialgradient>
                      </defs>
                    </svg>
                  </div>
                  <div class='include-text'>WHAT’S INCLUDED?</div>
                  <div class='price-list-wrapper'>
                    <div class='pricing-list-wrap'>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Unlimited clients</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>CRM</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>EMR</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>
                          Email marketing tool
                        </div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Client portal</div>
                      </div>
                    </div>
                    <div class='pricing-list-wrap'>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Unlimited templates</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Customer support</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='12'
                            height='12'
                            viewBox='0 0 12 12'
                            fill='none'
                          >
                            <circle
                              cx='6'
                              cy='6'
                              r='6'
                              fill='url(#paint0_linear_615_6065)'></circle>
                            <defs>
                              <lineargradient
                                id='paint0_linear_615_6065'
                                x1='-0.173913'
                                y1='12'
                                x2='12'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>
                          Customizable notes and assessments
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='price-wrap'>
                    <a
                      href='https://buy.stripe.com/4gwdTN4OYaco4b65kp'
                      target='_blank'
                      rel="noopener"
                      class='enroll-btn cc-width w-button'
                      >Enroll Now - 14 days</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab='Tab 4' class='w-tab-pane'>
              <div class='pricing-wrap'>
                <div class='navix-block'>
                  <div class='pricing-text'>
                    Do more with <span class='text-span-9'>Navix</span>
                  </div>
                  <p class='pricing-para'>
                    Enjoy a seamless software experience without any surprises
                    or extra costs.
                  </p>
                  <a
                    href='https://calendly.com/d/yk9-xfc-stg/navix-demo?month=2024-01'
                    target='_blank'
                    rel="noopener"
                    class='pricing-btn w-button'>Get started</a
                  >
                  <div class='phone-img-block'>
                    <img
                      src='/images/iPhone-14.png'
                      loading='lazy'
                      alt="Iphone showcasing Navix's logo."
                      class='navix-img'
                    /><img
                      src='/images/Ellipse-31.png'
                      loading='lazy'
                      sizes='100vw'
                      srcset='/images/Ellipse-31-p-500.png 500w, /images/Ellipse-31.png 737w'
                      alt='white shadow'
                      class='ellipse-shadow'
                    />
                  </div>
                </div>
                <div class='pricing-block'>
                  <div class='price-block cc-margin'>
                    <div class='price-value'>
                      <span class='text-span-10'>$750</span> /Month (starting
                      price)
                    </div>
                    <div class='price-text'>Per location</div>
                  </div>
                  <div class='pricing-text cc-size'>Introductory Pricing</div>
                  <p class='pricing-para cc-pricing cc-size'>
                    Limited time offer, introductory rate for new users is
                    locked in for as long as you use Navix software. Set up a
                    Demo today to see what Navix can do for your facility.
                  </p>
                  <div class='block-divider w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='609'
                      height='2'
                      viewBox='0 0 609 2'
                      fill='none'
                    >
                      <path
                        d='M0 1L609 1.00005'
                        stroke='url(#paint0_radial_615_6058)'></path>
                      <defs>
                        <radialgradient
                          id='paint0_radial_615_6058'
                          cx='0'
                          cy='0'
                          r='1'
                          gradientunits='userSpaceOnUse'
                          gradienttransform='translate(304.5 1.50003) rotate(90) scale(0.5 304.5)'
                        >
                          <stop stop-color='white'></stop>
                          <stop offset='1' stop-color='white' stop-opacity='0'
                          ></stop>
                        </radialgradient>
                      </defs>
                    </svg>
                  </div>
                  <div class='include-text'>WHAT’S INCLUDED?</div>
                  <div class='price-list-wrapper'>
                    <div class='pricing-list-wrap'>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Unlimited clients</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>CRM</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>EMR</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>
                          Email marketing tool
                        </div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Client portal</div>
                      </div>
                    </div>
                    <div class='pricing-list-wrap'>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Unlimited templates</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>Customer support</div>
                      </div>
                      <div class='pricing-list-block'>
                        <div class='html-embed-11 w-embed'>
                          <svg
                            xmlns='http://www.w3.org/2000/svg'
                            width='13'
                            height='12'
                            viewBox='0 0 13 12'
                            fill='none'
                          >
                            <ellipse
                              cx='6.47746'
                              cy='6'
                              rx='6.04972'
                              ry='6'
                              fill='url(#paint0_linear_897_784)'></ellipse>
                            <defs>
                              <lineargradient
                                id='paint0_linear_897_784'
                                x1='0.25238'
                                y1='12'
                                x2='12.5272'
                                y2='12'
                                gradientunits='userSpaceOnUse'
                              >
                                <stop stop-color='#A28292'></stop>
                                <stop offset='1' stop-color='#C2996C'></stop>
                              </lineargradient>
                            </defs>
                          </svg>
                        </div>
                        <div class='pricing-lisr-text'>
                          Customizable notes and assessments
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='price-wrap'>
                    <a
                      href='https://calendly.com/d/yk9-xfc-stg/navix-demo?month=2024-01'
                      target='_blank'
                      rel="noopener"
                      class='enroll-btn cc-width w-button'
                      >Enroll Now - 14 days</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab='Tab 5' class='w-tab-pane w--tab-active'>
              <div class='trans-wrap cc-margin'>
                <div class='trans-block'>
                  <div class='free-text'>Free</div>
                  <div class='dollor-price'>
                    $<span class='text-span-14'>0</span>
                  </div>
                  <div class='trial-text'>Free trial</div>
                  <div class='block-divider w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='609'
                      height='2'
                      viewBox='0 0 609 2'
                      fill='none'
                    >
                      <path
                        d='M0 1L609 1.00005'
                        stroke='url(#paint0_radial_615_6058)'></path>
                      <defs>
                        <radialgradient
                          id='paint0_radial_615_6058'
                          cx='0'
                          cy='0'
                          r='1'
                          gradientunits='userSpaceOnUse'
                          gradienttransform='translate(304.5 1.50003) rotate(90) scale(0.5 304.5)'
                        >
                          <stop stop-color='white'></stop>
                          <stop offset='1' stop-color='white' stop-opacity='0'
                          ></stop>
                        </radialgradient>
                      </defs>
                    </svg>
                  </div>
                  <div class='benefit-text'>Professional Plan Trial</div>
                  <div class='benefit-text'>7 Day Period</div>
                  <div class='benefit-text'>
                    <span class='main-text'>NavixScribe</span>
                    <span class='popular'>&larr; most popular!</span>
                  </div>
                  <div class='benefit-block'>
                    <div class='benefit-text'>Access to all tools</div>
                  </div>
                  <div class='benefit-block'>
                    <div class='benefit-text'>Early access to beta tools</div>
                  </div>
                  <a
                    href='https://app.navix.ai/signup'
                    target='_blank'
                    rel="noopener"
                    class='pricing-start-btn w-button'>Get Started</a
                  >
                </div>
                <div class='trans-block cc-color'>
                  <div class='pentagone'>
                    <div class='prof-text'>Professional</div><img
                      src='/images/Group-1000000865-1.png'
                      loading='lazy'
                      alt='a decoration for pricing.'
                    />
                  </div>
                  <div class='dollor-price'>
                    $<span class='text-span-14'>58.99</span><span
                      class='text-span-15'>/Month</span
                    >
                  </div>
                  <div class='trial-text'>AI-powered features</div>
                  <div class='block-divider w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='393'
                      height='1'
                      viewBox='0 0 393 1'
                      fill='none'
                    >
                      <path
                        d='M0 0.5L393 0.499966'
                        stroke='url(#paint0_radial_615_10783)'></path>
                      <defs>
                        <radialgradient
                          id='paint0_radial_615_10783'
                          cx='0'
                          cy='0'
                          r='1'
                          gradientunits='userSpaceOnUse'
                          gradienttransform='translate(196.5 0.999983) rotate(90) scale(0.5 196.5)'
                        >
                          <stop stop-color='white'></stop>
                          <stop offset='1' stop-color='white' stop-opacity='0'
                          ></stop>
                        </radialgradient>
                      </defs>
                    </svg>
                    <style>
                      @media screen and (max-width: 365px) and (min-width: 320px) {
                        .pentagone {
                          top: -5vw !important;
                        }
                      }
                    </style>
                  </div>
                  <div class='benefit-text'>
                    Everything Included in the Entry Plan
                  </div>
                  <div class='benefit-text'>Unlimited Transcription</div>
                  <div class='benefit-text'>
                    <span class='main-text'>NavixScribe</span>
                    <span class='popular'>&larr; most popular!</span>
                  </div>
                  <div class='benefit-block'>
                    <div class='benefit-text'>Access to all tools</div>
                  </div>
                  <div class='benefit-block'>
                    <div class='benefit-text'>Early access to beta tools</div>
                  </div>
                  <a
                    href='https://app.navix.ai/signup'
                    target='_blank'
                    rel="noopener"
                    class='pricing-start-btn cc-color w-button'>Get Started</a
                  >
                </div>
                <div class='trans-block'>
                  <div class='free-text'>Entry</div>
                  <div class='dollor-price'>
                    $<span class='text-span-14'>14.99</span><span
                      class='text-span-15'>/Month</span
                    >
                  </div>
                  <div class='trial-text'>AI-powered features</div>
                  <div class='block-divider w-embed'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='609'
                      height='2'
                      viewBox='0 0 609 2'
                      fill='none'
                    >
                      <path
                        d='M0 1L609 1.00005'
                        stroke='url(#paint0_radial_615_6058)'></path>
                      <defs>
                        <radialgradient
                          id='paint0_radial_615_6058'
                          cx='0'
                          cy='0'
                          r='1'
                          gradientunits='userSpaceOnUse'
                          gradienttransform='translate(304.5 1.50003) rotate(90) scale(0.5 304.5)'
                        >
                          <stop stop-color='white'></stop>
                          <stop offset='1' stop-color='white' stop-opacity='0'
                          ></stop>
                        </radialgradient>
                      </defs>
                    </svg>
                  </div>
                  <div class='benefit-text'>Note Writer + Note Re-Writer</div>
                  <div class='benefit-text'>Summarizer</div>
                  <div class='benefit-text'>Blogs and Articles</div>
                  <div class='benefit-text'>Diagnostic Codes</div>
                  <div class='benefit-block'>
                    <div class='benefit-text cc-color'>NavixScribe</div>
                    <div class='html-embed-22 w-embed'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='93'
                        height='1'
                        viewBox='0 0 140 1'
                        fill='none'
                      >
                        <path
                          d='M0 0.5L204 0.500018'
                          stroke='url(#paint0_linear_615_10732)'></path>
                        <defs>
                          <lineargradient
                            id='paint0_linear_615_10732'
                            x1='-2.95652'
                            y1='1.5'
                            x2='204'
                            y2='1.50002'
                            gradientunits='userSpaceOnUse'
                          >
                            <stop stop-color='#FF5FAF'></stop>
                            <stop offset='1' stop-color='#FFB869'></stop>
                          </lineargradient>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <a
                    href='https://app.navix.ai/signup'
                    target='_blank'
                    rel="noopener"
                    class='pricing-start-btn w-button'>Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='build-navix-block'>
          <div class='navix-content-wrap'>
            <div class='navix-content-block'>
              <h2 class='pricing-text cc-navix'>
                Do more with <span class='text-span-18'>Navix</span>
              </h2>
              <p class='pricing-para cc-max'>
                Enjoy a seamless software experience without any surprises or
                extra costs.
              </p>
            </div><img
              src='/images/iPhone-14-1.png'
              loading='lazy'
              alt='An iphone with Navix logo on screen.'
              class='phone-img-small'
            />
          </div>
          <a
            href='https://buy.stripe.com/4gwdTN4OYaco4b65kp'
            target='_blank'
            rel="noopener"
            class='start-btn cc-align cc-color w-button'>Get started</a
          ><img
            src='/images/Frame-1000000875.png'
            loading='lazy'
            sizes='(max-width: 991px) 100vw, 84vw'
            srcset='/images/Frame-1000000875-p-500.png 500w, /images/Frame-1000000875-p-800.png 800w, /images/Frame-1000000875.png 971w'
            alt='white shadow'
            class='overlay-img'
          />
        </div>
      </div>
    </div>
    <div class='overlay-wrap'>
      <img
        src='/images/image-2587-2.png'
        loading='lazy'
        alt='a decoration'
        class='dots-img'
      />
      <div class='overlay-color'></div>
    </div>
    <div class='overlay-wrap cc-1'>
      <img
        src='/images/image-2587-3.png'
        loading='lazy'
        alt='a decoration'
        class='dots-img'
      />
      <div class='overlay-color'></div>
    </div>
  </section>
</main>
