<main class='main-wrapper'>
  <section class='section-video'>
    <div class='padding-global padding-section-medium cc-video'>
      <div class='w-layout-blockcontainer container w-container'>
        <div class='video-wrapper'>
          <h1 class='video-head'>Watch Our Product Tour</h1>
          <div class='w-dyn-list'>
            <div role='list' class='collection-list-3 w-dyn-items'>
              <div role='listitem' class='w-dyn-item'>
                <div class='w-dyn-bind-empty w-video w-embed'></div>
              </div>
            </div>
            <div class='w-dyn-empty'>
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
